
// Media sizes
$screen-xs: 0;
$screen-sm: em(480);
$screen-md: em(768);
$screen-lg: em(992);
$screen-xl: em(1200);

$breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

// Font families

$font-family-sans-serif: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
$font-family-serif: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;


// Font sizes

$base-font-size: 16px;
$base-line-height: 1.4;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors

$brand-primary: #071427;
$brand-primary-dark: darken($brand-primary, 10%);

$brand-secondary: #023F84;
$brand-secondary-dark: darken($brand-secondary, 10%);

$gray-base: #000;
$gray-light: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 30%);
$gray: lighten($gray-base, 10%);
$gray-dark: darken($gray-base, 10%);
$gray-darker: darken($gray-base, 10%);


$line-gray: #dedede;
$white: #fff;
$black: #222;


// Area specific colors

$body-bg: $brand-primary;

$link-color: #272C6F;
$link-color-hover: #272C6F;

$menu-width: 270px;

// component/D8 "Paragraphs"
$component-margin-bottom: 6rem;
