.global-nav {
  display: none;
  background-color: $gray-lighter;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;

  &.menu-open {
    display: block;
  }

  @include media(lg) {
    display: block;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
  }

  ul {
    margin-bottom: 10px;

    @include media(lg) {
      margin-bottom: 0;
    }
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;

    @include media(lg) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  a {
    border-color: $gray;
  }

  .nav-list-item {
    @include media(lg) {
      float: left;
    }

    @include media(xl) {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  .nav-list-anchor {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    color: $brand-secondary;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    transition: border-color .2s;
    font-size: 14px;
    padding: 5px;

    &:hover,
    &:focus,
    &.active {
      text-decoration: none;
      border-color: $brand-secondary;
    }

    @include media(lg) {
      border-width: 6px;
      padding: 10px;
    }
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $gray-lighter transparent;
    bottom: 100%;
    right: 30px;

    @include media(lg) {
      display: none;
    }
  }

  // dropdown menu styles

  > .nav-list > .nav-list-item {
    position: relative;

    @include media(lg) {
      &:hover {
        .nav-list {
          display: block !important;
        }
      }
    }
  }

  .nav-list .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: $white;
    box-shadow: 0 0 5px rgba(black, .25);
    z-index: 400; // home page carousel caption box is 300

    .nav-list-anchor {
      font-weight: normal;
      text-transform: none;
      letter-spacing: 0;
      color: $brand-primary-light;
      padding: 10px;

      &:hover {
        border-color: transparent;
        text-decoration: underline;
      }
    }
  }
}
