.menu-btn {
  display: inline-block;
  color: $brand-secondary;
  border: 1px solid $brand-secondary;
  border-radius: 5px;
  white-space: nowrap;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: normal;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include media(lg) {
    display: none;
  }
}
