.hero {
  background-color: #0d395f;
  padding: 20px;
}

.hero-title {
  color: $brand-yellow;
  font-family: $font-family-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-video-form {
  @include clearfix();
}

.hero-video {
  width: 600px;
  float: left;

  &:not(.video-playing) {
    position: relative;

    &:after {
      display: block;
      content: '▸ video';
      position: absolute;
      left: 15px;
      bottom: 20px;
      text-transform: uppercase;
      font-size: 14px;
      color: $white;
      background-color: $brand-green;
      padding: 2px 8px;
    }
  }

  video {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}

.hero-form {
  padding-left: 20px;
  float: left;
  width: 300px;

  label {
    color: $white;
  }
}
