.hero {
  background-color: #0d395f;
  padding: 20px;
}

.hero-title {
  color: $brand-yellow;
  font-family: $font-family-serif;
  font-size: 29px;
  margin-bottom: 20px;
}

.hero-video-form {
  @include clearfix();
}

.hero-video {
  position: relative;
  width: 600px;
  float: left;

  video {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}

.hero-video-btn {
  position: absolute;
  left: 15px;
  bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: $white;
  background-color: $brand-green;
  padding: 2px 8px;
  border: 0;

  .video-playing & {
    display: none;
  }
}

.hero-form {
  padding-left: 20px;
  float: left;
  width: 300px;

  label {
    color: $white;
  }
}
