.intro {
  padding: 50px 130px 70px;

  &-title {
    font-family: $font-family-sans-serif;
    font-size: 23px;
    color: $brand-navy;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &-text {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: $gray-dark;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &-link {
    color: $brand-green;
    font-weight: bold;
    border-bottom: 1px solid $brand-green;
    padding-bottom: 2px;
    display: inline-block;

    &:hover {
      color: $brand-green-dark;
      border-color: $brand-green-dark;
      background-color: transparent;
    }
  }
}
