.content .wordmark {
  margin: 60px 0 30px !important;
  padding: 0 !important;
}

.content .wordmark a {
  background-image: url('../images/ls/middlebury-language-schools-logo.png');
  background-repeat: no-repeat;
}

form.search {
  top: 0;
}

/*
.column>a,
.column .content>a {
  display: none
}

.column.gray .profile {
  margin-top: 0px
}

table.layout tbody,
table.layout tr,
table.layout td,
table.layout {
  border: none
}

.top_panel {
  padding-top: 1px
}

.top_panel .ls_header_search {
  clear: both;
  margin: 0 auto;
  width: 960px;
  position: relative;
  height: 59px;
}

.midd_ls .top_panel h1.wordmark {
  margin-top: 0px
}

.midd_ls h1.wordmark,
.midd_ls_inside h1.wordmark,
.midd_ls_fullwidth h1.wordmark,
.midd_ls_grad h1.wordmark {
  width: 100%;
  font-size: 1.4em;
  padding: 30px 0px 26px 0px;
}

.midd_ls_grad h1.wordmark {
  border-color: #83B2F9
}

.midd_ls h1.wordmark a,
.midd_ls_inside h1.wordmark a,
.midd_ls_fullwidth h1.wordmark a,
.midd_ls_grad h1.wordmark a {
  background: none;
  display: block;
  width: 672px;
  height: 142px;
  text-indent: -9999px;
}
*/
.search_query {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.929em;
  color: #666666;
}

.search_submit.ir {
  background: url(../images/arrow_go_white.png)
}

