.content .wordmark {
  margin: 60px 0 30px !important;
  padding: 0 !important;
}

.content .wordmark a {
  background-image: url('../images/ls/middlebury-language-schools-logo.png');
  background-repeat: no-repeat;
}

form.search {
  top: 0;
}

.search_query {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.929em;
  color: #666666;
}

.search_submit.ir {
  background: url(../images/arrow_go_white.png)
}

