$helper-colors: (
  'navy': $brand-navy,
  'sky': $brand-sky,
  'orange': $brand-brick,
  'teal': $brand-teal,
  'gold': $brand-gold,
  'red': $brand-red,
  'green': $brand-green
);

@each $name, $color in $helper-colors {
  .color-#{$name} {
    color: $color;

    &:hover {
      color: $color;
    }
  }
}
