.navigation {
  border-bottom: 4px solid #fff;
}

.navigation ul {
  background-color: #f8d140;
  height: 36px;
  padding: 0;
  width: 100%;
}

.navigation li {
  width: auto;
}

.navigation li a {
  color: #1b3767;
  text-indent: 0 !important;
  overflow: visible !important;
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  height: auto !important;
  letter-spacing: 0.05em;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  transition: .2s;
}

.navigation li a:hover {
  background-color: #FFE173;
}
