.rule {
  border-top: 3px solid $brand-navy;
  position: relative;
  z-index: 1;
}

.rule-buttoned {
  text-align: center;
  overflow: visible;

  .btn {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    z-index: 2;
  }
}
