.rule {
  border-top: 3px solid $brand-navy;
  position: relative;
  z-index: 1;
  margin-top: 65px;
  margin-bottom: 65px;
}

.rule-buttoned {
  text-align: center;
  overflow: visible;
  height: 3px;

  .btn {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    z-index: 2;
  }
}

