$brand-navy: #113a5f;
$brand-sky: #75a3cd;
$brand-brick: #c26531;
$brand-green: #8eaf42;
$brand-green-dark: #8e9b39;
$brand-teal: #1d9f8b;
$brand-gold: #b0862d;
$brand-red: #972d29;
$brand-yellow: #f8d140;

$black: #000;
$white: #fff;

$gray-dark: #333;

$font-family-serif: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
$font-family-sans-serif: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
