@import 'variables';

@import 'global';

// layout
@import 'header';
@import 'hero';
@import 'footer';

// components
@import 'nav';
@import 'icon';
@import 'explore-section';
@import 'rule';
@import 'forms';
@import 'button';

@import 'helpers';


// midd.css overwrites
.pagecontent {
  margin-top: 0;
}

.midd_ls_inside .taskbar,
.midd_ls_fullwidth .taskbar,
.midd_ls_grad .taskbar {
  display: none
}

.midd_ls .page {
  border: none;
  float: none;
  width: auto;
  padding: 0;
}

.node-faq summary, .node-faq summary a {
  color: #084B71;
}

/* home page */

.column {
  float: left;
  box-sizing: border-box;
}

.column-third {
  width: 33.33%;
}

.home-features {
  margin-bottom: 40px;

  .column {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
  }

  h3 {
    font-family: $font-family-sans-serif;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    font-family: $font-family-serif;
    font-size: 16px;
  }

}

.taskbar,
.breadcrumb {
  display: none;
}

#main-content {
  z-index: 1;
}
