.middlebury_listmanager form { width:100%; }
  .middlebury_listmanager .form-item { margin-bottom:0.5em; }
    .middlebury_listmanager .form-item-email input { width:100%; box-sizing:border-box; -moz-box-sizing:border-box; }