/* Quickaccess */
.node-qa input[type="text"] { width:20em; font-size:1.2em; margin-top:0.2em; }
.qa_blur, .qa_noquery { display:none; }
.qa_toomany, .qa_nonefound { font-style:italic; }
.node-qa form label { display:inline; font-weight:normal; margin:0px; }
.node-qa form div { width:20em; position:relative; z-index:800; }
.node-qa form ul { margin:0px; position:absolute; top:0px; left:0px; width:100%; border:1px solid #999999; border-top:none; background-color:#FFFFFF; list-style-type:none; }
.node-qa form li { padding:2px 0.5em 2px 0.5em; margin:0px; }
.node-qa form a:hover { background:transparent; }
  .qa_highlight { background-color:#FFEE88; border:solid #FFBB44; border-width:1px 0px; text-decoration:underline; }
  .qa_selected { background-color:#DDDDEE; }
