/* Middlebury Insitute styles */
/* by White Whale Web Services */ 
/* modified by Middlebury College Web Development */

/* Reset defaults */
html { font-size:100%; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,blockquote,dl,dt,dd,table,th,td,pre,img,form,fieldset,legend,label,iframe { margin:0; padding:0; font-size:1em; line-height:inherit; font-weight:inherit; border:none; }
input,select,textarea,button { font-size:1em; line-height:inherit; font-family:inherit; color:#222; margin:0; max-width:624px; }
input[type=button],input[type=submit],button { overflow:visible; }
input[disabled],select[disabled],textarea[disabled],button[disabled] { opacity:0.75; }

/* HTML5 reset */
article, aside, figure, footer, header, hgroup, nav, section { display:block; }

/* Global styles */
a { color:#114477; text-decoration:none; }
  a:hover { color:#000033; text-decoration:underline; }
blockquote {margin:0 2em; font-size:1.3em; color:#790e39; font-weight:bold; font-style:italic; }
dl { width:41.1em; margin:0.6em 0px 0.6em 0px; padding:0px; }
dt { width:15em; clear:both; font-weight: bold; }
dd { width:24em; font-family:Georgia, serif; color:#333366; margin-bottom:10px; }
dt, dd { float:left; margin:0px; padding:0.5em; border-top:1px solid #666666; }
h1 { font-family: Arial, Helvetica, sans-serif; font-size:2.4em; color:#114477; font-weight:normal; line-height:1.1em; margin-bottom:0.4em; }
h2 { font-size:1.6em; font-weight:bold; color:#790E39; line-height:1.25em;}
  h2 a { color:#790E39; }
    h2 a:hover { color:#114477; text-decoration:none; }
h3 { font-size:1.3em; font-weight:bold; color:#336699; line-height:1.25em; }
  h3 a { color:#336699; }
    h3 a:hover { color:#114477; text-decoration:none; }
h4 { font-size:1.2em; line-height:1.25em; color:#336699; }
h5 { font-size:1.1em;  line-height:1.25em;color:#336699; }
h6 { font-weight:bold; color:#790E39; }
h2, h3, h4, h5 { margin-bottom:14px; }
input[type=text], textarea { border:1px solid #999999; padding:4px; }
input[type=submit], input[type=button] { background-color:#EEEEEE; border:1px solid; border-color:#AAAAAA #888888 #888888 #AAAAAA; padding:5px; outline:none; }
  input[type=submit]:hover, input[type=button]:hover { cursor:pointer; background-color:#E3E3E3; border-color:#888888 #AAAAAA #AAAAAA #888888; }
label { font-weight:bold; margin:2px; }
p { margin-bottom:1em; }
  p a { text-decoration:none; font-weight:bold; }
table { margin:0px; border-spacing:0px; }
  tbody { border-top:none; }
  tr+tr td,tr+tr th { border-top:1px solid #FFFFFF; }
  th { padding:10px; font-size:1.2em; font-weight:bold; background-color:#FFFFFF; color:#790E39; }
    th a { }
  td { padding:10px; background-color:#FFFFFF; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; }
    td p { margin-bottom:0px; }
ul, ol { margin-left:1.5em; margin-bottom:0.8em; }
  li { margin:0.4em 0; }

/* Type class styles */
.more { margin-left:2em; }
.pdf { padding-right:18px; background:url(../images/pdf.gif) no-repeat right center; }

/* Columns */
.columns { clear:left; min-width:100%; margin-bottom:1em; }
  .columns .column { float:left; min-height:1px; padding:0px 12px 0px 12px; }
  .columns .first { padding-left:0px; }
  .columns .last { padding-right:0px; }
.two { }
  .two .column { width:312px; }
  .split33 .first { width:200px; }
  .split33 .last { width:424px; }
.three { }
  .three .column { width:196px; }
.four { }
.bordered { }
  .bordered .column { padding-left:19px; padding-bottom:10px; border:solid #C3C3C3; border-width:0px 1px; margin-left:-1px;  }
    .bordered .column .head { border-left:1px solid #C0C0C0; margin-left:-20px; padding-left:19px; }
  .bordered .first { padding-left:20px; border-left:none; margin-left:0px; }
    .bordered .first .head { padding-left:20px; border-left:0px; }
  .bordered .last { border-right:none; }
.fullbleed { margin:0px -20px 0px -20px; display:block; }

.arabic { font-family:"Simplified Arabic","Traditional Arabic","Helvetica Neue",Arial,Helvetica,sans-serif; }
.big { font-size:1.6em; line-height:1.25em; }
.caption { font-style:italic; font-size:0.929em; color:#888; line-height:1.25; margin:3px; }
.fineprint { font-size:0.857em; color:#666633; letter-spacing:1px; }
.headline { font-family:Georgia, serif; font-weight:normal; font-size:1.2em; }
.small { font-size:0.929em; line-height:1.25em; }
.verybig { font-size:2em; line-height:1.25em; }

/* Body top to bottom */
body { font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; font-size:0.85em; line-height:1.4; background-color:#071427;  background-image:url(../images/bluegradient.jpg); background-position:center 194px; background-repeat:repeat-x; color:#333333; }
.skiplink { position:absolute; top:0; left:-9999px; width:9em; padding:5px; color:#00f; background-color:#ff9; border:1px solid #993; text-align:center; z-index:9999; }
.skiplink:focus { left:0; }
.container { width:960px; position:relative; margin:0 auto; }
.clear { height:0; clear:both; }

  /* Header */
  header.header { height:160px; background-color:#B0B0B0; color:#FFFFFF; background-position:center top; background-repeat:no-repeat; background-image:url(../images/flags.jpg); }
    header.header a { color:#FFFFFF; text-decoration:none; border:none; font-weight:normal; }
      header.header a:hover { text-decoration:none; color:#76DB5B; font-weight:normal; }
  .wordmark { font-family:"Goudy Old Style",Goudy,"Times New Roman",Times,serif; display:block;  position:absolute; left:12px; top:16px; width:360px; height:100px; font-size:2.5em; line-height:1em; }
    .wordmark:hover { border:none; color:#DDDDDD; }
  .languages, .search, .gateways { background-image:url(../images/black_trans.png); padding:10px 12px 10px 12px; }
  .search { width:200px; float:right; padding:7px 10px 12px 10px; }
    .search input { border:1px solid #444455; -moz-border-radius:5px; -webkit-border-radius:5px; width:11em; padding:0.2em 0.5em 0.2em 0.5em; }
    .search button { background-color:transparent; border:none; color:#FFFFFF; font-weight:bold; padding:0px; margin:0px; }
  .gateways { width:196px; list-style-type:none; clear:right; float:right; margin-top:10px; padding:12px 12px; }
  .languages { width:146px; list-style-type:none; position:absolute; right:229px; top:0px; height:112px; padding-top:20px; }
    .languages li, .gateways li { width:50%; margin:0px 0px 2px 0px; }
    .languages .left, .gateways .left { float:left; }
    .languages .right, .gateways .right { float:right; text-align:right; }
      .gateways li.left { width:115px; }
      .gateways li.right { width:70px; }
    .gateways .full { width:100%; }

  /* Navigation */
  .navigation { height:34px; background-color:#5E6676; position:relative; z-index:500; }
    .navigation ul { list-style-type:none; }
    .navigation li { float:left; margin:0px; position:relative; margin-right:34px; }
      .navigation li a.tab { color:#FFFFFF; text-decoration:none; padding:0px 12px; display:block; position:relative; text-align:center; font-family:"Goudy Old Style",Goudy,"Times New Roman",Times,serif; font-size:1.3em; line-height:34px; border:none; white-space:nowrap; }
        .navigation li a.tab:hover { background-color:#FFFFFF; color:#131E30; }
        .navigation li a.tab span { position:absolute; top:0px; left:0px; width:100%; height:100%; background-image:url(../images/nav_main.gif); }
      .navigation li .nav_feature { display:none; position:absolute; bottom:100%; margin-bottom:34px; left:-1px; padding:12px; border:solid #5E6676; border-width:1px 1px 0px 1px; background-color:#F9F9F9; width:320px; height:155px; }
        .front .navigation li .nav_feature { display:block; }
      .navigation li .nav_dropdown { position:absolute; top:34px; border:solid #5E6676; border-width:0px 1px 1px; background-color:#F9F9F9; width:320px; padding:12px; display:none; }
        .navigation li.hover .nav_dropdown { display:block;  z-index:500; }
        .navigation li .nav_dropdown ul { margin:0px; }
          .navigation li .nav_dropdown li { float:none; margin:0.1em 0px 0.3em 0px; }
            .navigation li .nav_dropdown li a { color:#003399; text-decoration:none; }
              .navigation li .nav_dropdown li a:hover { text-decoration:underline; }
            .navigation li .nav_dropdown li.main { font-weight:bold; }
            .navigation li .nav_dropdown li.full { font-size:1.1em; border-bottom:1px solid #CCCCCC; text-align:center; padding-bottom:3px; margin-bottom:5px; }
          .navigation li .nav_dropdown .left { float:left; clear:left; width:150px; }
          .navigation li .nav_dropdown .right { float:right; text-align:right; width:170px; }
    .navigation_why a { width:94px; }
      .navigation_why a span, .has_dropdowns .navigation_why a:hover span { background-position:-8px 0px; }
      .navigation_why a:hover span, .has_dropdowns .navigation_why.hover a span  { background-position:-8px -35px; }
      .navigation_why.active a span { background-position:-8px -70px; }
      .navigation_why .nav_dropdown { left:-1px; }
    .navigation_about a { width:64px; }
      .navigation_about a span, .has_dropdowns .navigation_about a:hover span { background-position:-125px 0px; }
      .navigation_about a:hover span, .has_dropdowns .navigation_about.hover a span { background-position:-125px -35px; }
      .navigation_about.active a span { background-position:125px -70px; }
      .navigation_about .nav_dropdown { left:-1px; }
    .navigation_admissions a { width:90px; } 
      .navigation_admissions a span, .has_dropdowns .navigation_admissions a:hover span { background-position:-218px 0px; }
      .navigation_admissions a:hover span, .has_dropdowns .navigation_admissions.hover a span { background-position:-218px -35px; }
      .navigation_admissions.active a span { background-position:-218px -70px; }
      .navigation_admissions .nav_dropdown { left:-75px; }
    .navigation_academics a { width:95px; }
      .navigation_academics a span, .has_dropdowns .navigation_academics a:hover span { background-position:-337px 0px; }
      .navigation_academics a:hover span, .has_dropdowns .navigation_academics.hover a span { background-position:-337px -35px; }
      .navigation_academics.active a span { background-position:-337px -70px; }
      .navigation_academics .nav_dropdown { left:-75px; }
    .navigation_studentlife a { width:105px; }
      .navigation_studentlife a span, .has_dropdowns .navigation_studentlife a:hover span { background-position:-460px 0px; }
      .navigation_studentlife a:hover span, .has_dropdowns .navigation_studentlife.hover a span { background-position:-460px -35px; }
      .navigation_studentlife.active a span { background-position:-460px -70px; }
      .navigation_studentlife .nav_dropdown { left:-75px; }
    .navigation_careers a { width:75px; }
      .navigation_careers a span, .has_dropdowns .navigation_careers a:hover span { background-position:-595px 0px; }
      .navigation_careers a:hover span, .has_dropdowns .navigation_careers.hover a span { background-position:-595px -35px; }
      .navigation_careers.active a span { background-position:-595px -70px; }
      .navigation_careers .nav_dropdown { left:-75px; }
    .navigation_giving a { width:58px; }
      .navigation_giving a span, .has_dropdowns .navigation_giving a:hover span { background-position:-696px 0px; }
      .navigation_giving a:hover span, .has_dropdowns .navigation_giving.hover a span { background-position:-696px -35px; }
      .navigation_giving.active a span { background-position:-696px -70px; }
      .navigation_giving .nav_dropdown { left:-225px; }
      .navigation_giving .nav_feature img { border:none; margin-bottom:-12px; }
    .navigation li.navigation_giving { margin-right:0; }
    .nav_feature h3 { font-weight:bold; font-size:1.1em; color:#666666; }
    .nav_feature a, .nav_dropdown .note a { color:#790E39; border:none; font-weight:bold; } 
      .nav_feature a:hover, .nav_dropdown .note a:hover { color:#790E39; font-decoration:underline; }
      .nav_feature a img { color:#790E39; border:none; font-weight:bold; border:1px solid #790E39; }
        .nav_feature a:hover img { border-color:#790E39; }
    .nav_feature .summary { font-size:0.929em; }
    .nav_feature .title.subhead { font-size:1.5em; }
    .nav_feature .fullbleed { margin:0px -12px 0px -12px; }
    .nav_feature .quickaccess { width:310px; font-size:1.5em; }
    .nav_feature .image_left img { float:left; margin-right:12px; }
    .nav_feature .image_right img { float:right; margin-left:12px; }
    .nav_feature .questions a img { border:none; }
    .nav_feature .questions .subhead { float:right; margin-top:-20px; }
    .nav_feature table, .nav_feature tr, .nav_feautre td, .nav_feature tbody { border: none; }
    .nav_dropdown .note { color:#666666; }
    .nav_dropdown .title { font-size:1.1em; }
      .nav_dropdown .title a { font-weight:normal; }
    .nav_dropdown .date { font-weight:bold; }

  /* Page Content */
  .page { margin-top:24px; }
  .breadcrumb { margin:-24px 0px 0px 0px; width:458px; color:#CCCCCC; font-size:0.857em; font-weight:normal; padding:5px 6px 5px 6px; background:#003366; -moz-box-shadow:3px 3px 3px #131E30; -webkit-box-shadow:3px 3px 3px #131E30; position:relative; z-index:100; }
    .breadcrumb a { color:#CCCCCC; padding:0px 6px 0px 6px; border: none; }
      .breadcrumb a:hover { color:#FFD231; text-decoration:underline; }
  .body { border:12px solid #DDDDDD; background-color:#FFFFFF; width:696px; float:left; }
    .miis_fullwidth .body, .body.fullwidth { width:936px; }
    .body > a { display:none; }
    .body #miis_content { padding:24px; padding-bottom:36px; clear:left; position:relative; }
    .body a.login { color:#114477; font-size:1em; margin-top:0px; float:none; }
      .body a.login:hover { background:transparent; }

  /* Tags */
  .field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference .field-items, .field-type-taxonomy-term-reference .field-item { display: inline; }
  .field-type-taxonomy-term-reference .field-label { padding-right:1.5em; }
  .field-type-taxonomy-term-reference .field-item { padding-right:10px; }

  /* Right Sidebar */
  .sidebar { width:200px; margin:24px 12px; padding:0px; float:right; color:#FFFFFF; }
  .sidebar ul.menu { list-style-type:none; margin:0px; }
  .sidebar ul.menu > li { margin:0px; list-style-type:none; list-style-image:none; padding:0px; }
  .sidebar div.content > ul.menu > li > a { display:none; }
  .sidebar div.content > ul.menu > li > ul.menu > li { margin:0px; background-color:#061830; border:1px solid #18293A; margin-bottom:5px; }
  .sidebar div.content > ul.menu > li > ul.menu > li > a { display:block; border:none; padding:8px 10px; text-decoration: none; font-size:0.929em; line-height:1.1em; font-weight:bold; color: #DDDDEE; }
    .sidebar div.content > ul.menu > li > ul.menu > li > a:hover { background-color:#18447C; text-decoration: none; color:#FFFFFF; }
    .sidebar div.content > ul.menu > li > ul.menu > li > ul { margin:10px 0px 10px 10px; }
    .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul > li { padding:0px 10px 0px 10px; margin:0px 0px 5px 0px; }
    .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul > li > a { color:#FFFFFF; border:none; }
    .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul > li > a:hover { text-decoration:underline; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded { border:2px solid #18293A; background-color:#061830; }
    .sidebar div.content > ul.menu > li > ul.menu > li.expanded > a { background-color:#18447C; color:#FFFFFF; border:none; }
    .sidebar div.content > ul.menu > li > ul.menu > li.expanded > a:hover { color:#FFFFFF; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu { list-style-type:disc; color:#CCEEFF; font-size:0.929em; margin-left:1.2em; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu > li { margin-top:0.2em; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu > li > a { list-style-type:disc; color:#CCEEFF; border-color:#CCEEFF; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu > li a { color:#114477; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu > li a:hover { color:#114477; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu li.here { color:#FFFFFF; }
    .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.here > a { font-weight:bold; color:#FFFFFF; border:none; }
  .sidebar div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.here > a:hover { border: none; }
  .sidebar h2 { color:#FFD231; }
  .sidebar .node h1 { color:#FFD231; font-size:1.229em; font-weight:bold; font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; border:none; }
  .sidebar .node a { color:#76DB5B; font-weight:bold; border:none; text-decoration:none; }
    .sidebar .node a:hover { text-decoration:underline; }

  /* Carousel */
  .slider { position:absolute; left:0px; top:6px; height:100%; margin-right:-12000px; }
  .carousel_arrow { position:absolute; left:88px; bottom:-43px; width:49px; height:43px; background-image:url(../images/carousel_arrow.png); z-index:100; }
  .carousel { clear:both; color:#FFFFFF; height:240px; margin:18px 0px; position:relative; overflow:hidden; }
    .carousel a { color:#CCFF66; text-decoration:none; border:none; padding:0px; }
    .carousel a:hover { color:#A9D4FF; text-decoration:none; border:none; background-color:transparent; border-bottom:1px dotted; }
    .carousel .node header { width:auto; }
    .carousel .node h1, .carousel .node h2, .carousel .node h3, .carousel .node h4, .carousel .node h5, .carousel .node h6 { color:#83B2F9; font-size:1.2em; line-height:1.25em; margin-bottom:14px; padding-bottom:0px; font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; border:none; }
  .carousel .block { border:dashed #FFFFFF; border-width:1px 1px 1px 0px; list-style-type:none; height:232px; margin:0px; }
    .carousel .node, .carousel .link-wrapper { border-left:1px dashed #FFFFFF; height:225px; padding:10px 30px 5px 30px; margin:0px; float:left; }
    .carousel .content > a { display:none; }
    .carousel .node .links { display:block; clear:both; }

  /* Footer */
  .footer { clear:both; padding-top:12px; width:960px; margin:24px auto; color:#999999; }
    .footer h6 { color:#999999; font-weight:normal; }
    .footer a { font-weight:bold; color:#FFFFFF; border:none; }
      .footer a:hover { color:#76DB5B; }
    .footer .name { font-size:1.4em; font-family:"Goudy Old Style",Goudy,"Times New Roman",Times,serif; margin-bottom:10px; padding-bottom:5px; color:#999999; border-bottom:1px solid #999999; }
      .footer .name a { font-weight:normal; color:#999999; }
        .footer .name a:hover { color:#FFFFFF; }
    .footer .address { float:left; }
      .footer .address a { color:#FFFFFF; font-weight:bold; border:none; }
        .footer .address a:hover { text-decoration:underline; }
    .footer .right { float:right; text-align:right; margin-left:60px; }
    .footer ul { list-style-type:none; margin:0; }
      .footer li { margin:0; }

/* Homepage */
.front header.header { height:300px; }
.front .page { margin:30px auto 0px auto; color:#EEEEEE; }
.front .column { padding:0px 30px 0px 30px; }
  .front .two .first { padding-left:12px; width:584px; }
  .front .two .last { padding-right:12px; width:292px; }

.front .be-the-solution ul { list-style-type:none; margin:0; }
  .front .be-the-solution li { float:left; margin:0px; width:194px; padding:0px; font-size:20px; font-family:"Goudy Old Style",Goudy,"Times New Roman",Times,serif; }
    .front .be-the-solution li:nth-child(3n) { width:170px; padding-left:24px; }
  .front .be-the-solution a { font-weight:normal; }

.front .news h1 { font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; font-size:1.3em; font-weight:bold; border-bottom:1px solid #5878A7; margin-bottom:0.8em; color:#83B2F9; position:relative; line-height:1.25em; }
.front .news a { color:#83B2F9; border:none; font-weight:bold; }
  .front .news a:hover { text-decoration: underline; }
.front .news ul { margin-left: 0px; list-style-type:none;}
  .front .news li { margin-bottom:1em; margin-left:0px; }
.front .news .views-field-title { display:block; }
.front .news .views-row-1 .views-field-title { font-size:1.2em; margin-bottom:0.5em; margin-top:1em; }
  .front .news .views-row-1 .views-field-title a { font-weight:normal; color:#EEEEEE; }
  .front .news .views-row-1 .views-field-title a:hover { text-decoration: underline; }
.front .news .views-field-field-teaser { display: inline; }
  .front .news .views-field-field-teaser a { width:277px; margin: 20px 0px 0px 0px; }
  .front .news .views-field-field-teaser p { display: inline; }
.front .news .views-field-field-media { text-align: center; }
  .front .news .views-field-field-media a:hover { text-decoration: none; }
.front .news .block-system, .front .news .links { display:none; }

.front .bottom a { color:#FFD231; border:none; font-weight:bold; }
  .front .bottom a:hover { text-decoration: underline; }
.front .bottom h2 { font-size:1.3em; font-weight:bold; border-bottom:1px solid #AB8D24; margin-bottom:0.8em; color:#FFD231; }
.front .bottom h3 { font-size:1.2em; color:#FFD231; margin:1.5em 0px 0px 0px; }
  .front .bottom h3 a { font-weight:normal; color:#FFD231; }
.front .bottom div.quote { font-size:1.05em; }
.front .bottom img.fullbleed { margin-left:0px; }

.front .spotlight { float:left; width:258px; }
  .front .spotlight .views-field-counter { margin-top:-5px; text-align:center; }
  .front .spotlight .views-field-title { display:block; font-size:1.2em; line-height:1.25em; }
    .front .spotlight .views-field-title a { font-weight:normal; }
  .front .spotlight div.item-list { margin:0px; width: 258px; }
    .front .spotlight div.item-list li { width: 128px; margin:0px; padding:0px; display:block; }
      .front .spotlight div.item-list li.first { float:left; text-align:left; }
      .front .spotlight div.item-list li.pager-current { display:none; }
      .front .spotlight div.item-list li.last { float:right; text-align:right; }

.front .dates { float:right; width:258px; }
  .front .dates ul { margin-top:1.5em; }

/* Academics */
.academics_title { display:none; }
.miis_academics .academics_title { display:block; min-height:32px; width:672px; background-color:#1B457A; color:#FFFFFF; padding:12px 24px 12px 24px; font-size:32px; margin:-12px 0px 0px -12px; font-family:Arial,Helvetica,sans-serif; -webkit-box-shadow:0px 4px 4px -2px #000000; -moz-box-shadow:0px 4px 4px -2px #000000; box-shadow:0px 4px 4px -2px #000000; position:relative; z-index:200; text-align:center; }

.miis_academics .slides { margin:0px -12px 24px -12px; z-index:120; position:relative; }
.miis_academics .slides .node header, .miis_academics .slides .node .field-name-body { display:none; }
  .miis_academics .cycle-pager { text-align:center; position:absolute; left:50%; top:250px; margin-left:-50px; width:100px; z-index:200; }
    .miis_academics .cycle-pager a { padding:0px 5px 0px 5px; color:#78113A; outline:none; font-size:36px; }
      .miis_academics .cycle-pager a:hover { color:#C4C47F; }
      .miis_academics .cycle-pager a.cycle-pager-active, .miis_academics .cycle-pager a.cycle-pager-active:hover { color:#CCCCDD; cursor:default; }

.miis_academics .region-image .links.inline { display:block; height:24px; }

.miis_academics .breadcrumb { width:auto; margin-top:36px; background:transparent; -moz-box-shadow:none; -webkit-box-shadow:none; -box-shadow:none; }
  .miis_academics.logged-in .breadcrumb { margin-top:-24px; }
  .miis_academics .breadcrumb a { color:#003366; }
  .miis_academics .breadcrumb a:hover { color:#003366; background-color:#CCCCCC; padding:0px; margin:0px 6px 0px 6px; }

.miis_academics #miis_content { padding-top:0px; }

/* Blue */
body.miis_blue { background:url('//cdn.middlebury.edu/miis.edu/2010/images/blue/gradient.jpg') no-repeat scroll left top #001534; }
.miis_blue h1, .miis_blue h2, .miis_blue h3, .miis_blue h4, .miis_blue h5, .miis_blue h6 { margin-bottom:12px; }
.miis_blue .node h1 { border:none; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:2.46em; line-height:1.2em; }
  .miis_blue .node-storylist h1 { font-size:1.2em; }
.miis_blue h2 { font-size:19.6px; }
.miis_blue h4 { color:#666666; font-size:15.6px; font-weight:bold; }
.miis_blue h6 { color:#404040; font-weight:normal; font-size:13px; }
.miis_blue td { padding:4px; color:#404040; border:none; }
  .miis_blue td p { margin-bottom:1em; }
.miis_blue header.header { background:transparent; height:106px; }
  .miis_blue .wordmark { top:20px; left:0px; }
  .miis_blue .header_search { border:1px solid #18447C; height:1.8em; padding:1px; position:absolute; top:20px; right:0px; }
    .miis_blue .header_search input { background-color:#18447C; border:none; color:#8FD4FF; font-style:italic; height:1.8em; line-height:1.5em; padding:0px 0px 0px 0.8em; width:9.4em; }
  .miis_blue .subsite_slogan { position:absolute; top:74px; right:0px; color:#83B2F9; font-weight:bold; font-size:21px; font-family:"Goudy Old Style",Goudy,"Times New Roman",Times,serif; text-align:right; width:360px; }
.miis_blue > nav { background-color:#5E6676; color:#FFFFFF; height:36px; padding:0px; width:100%; }
  .miis_blue.logged-in > nav { height:100%; }
  .miis_blue > nav ul.menu, .miis_blue header.header nav li { list-style-type:none; list-style-image:none; }
  .miis_blue > nav ul.menu { margin:0px auto 0px auto; position:relative; text-align:left; width:920px; }
    .miis_blue > nav li { display:inline-block; margin:0px 10px 0px 0px; padding:0px; position:relative; }
    .miis_blue > nav a { color:#FFFFFF; font-weight:normal; padding:0px 10px 0px 10px; font-size:1.531em; line-height:1.71em; display:block; }
    .miis_blue > nav .content > ul.menu > li > a { display:none; }
    .miis_blue > nav .content > ul.menu ul.menu ul.menu { display:none; }
    .miis_blue > nav .content > ul.menu > li > ul.menu > li > a { min-height:36px; }
    .miis_blue > nav .content > ul.menu ul.menu > li:hover { background-color:#FFFFFF; }
    .miis_blue > nav .content > ul.menu ul.menu > li:hover > a { color:#1A2D49; text-decoration:none; }
    .miis_blue > nav .content > ul.menu ul.menu > li:hover ul.menu, .miis_blue > nav .content > ul.menu ul.menu ul.menu:hover { display:block; position:absolute; background:#FFFFFF; top:36px; left:0px; z-index:999; min-width:180px; width:auto; }
      .miis_blue > nav .content > ul.menu ul.menu ul.menu li { display:block; margin:0.1em 0px 0.3em 0px; }
      .miis_blue > nav .content > ul.menu ul.menu ul.menu a { color:#003399; font-size:0.918em; padding:7px 10px 7px 10px; }
    .miis_blue > nav .content > ul.menu ul.menu ul.menu ul.menu { display:none; }
    .miis_blue nav .content > ul.menu > li.expanded > ul.menu > li.expanded { background-color:#1A2D49; }
    .miis_blue nav .content> ul.menu > li.expanded > ul.menu > li.expanded:hover { background-color:#FFFFFF; }
.miis_blue .slides { }
  .miis_blue .slides .node header, .miis_blue .slides .node .field-name-body { display:none; }
  .miis_blue .slides .link-wrapper { position:absolute; top:0; left:0; background-color:#FFFFFF; z-index:110; }
  .miis_blue .slides .contents .links { position:absolute; bottom:0; left:0; background-color:#FFFFFF; }
  .miis_blue .slides .cycle-next, .miis_blue .slides .cycle-prev { cursor:pointer; font-family:Georgia,serif; font-style:italic; color:#5FA7FF; font-weight:bold; position:absolute; bottom:-16px; }
    .miis_blue .slides .cycle-prev { left:0px; }
    .miis_blue .slides .cycle-next { right:0px; }
    .miis_blue .slides .cycle-pager { position:absolute; bottom:6px; left:calc(50% - 24px); font-size:3.2em; height:18px; }
      .miis_blue .slides .cycle-pager a { padding:0px 3px 0px 3px; color:#5E6676; }
        .miis_blue .slides .cycle-pager a.cycle-pager-active { color:#5FA7FF; }
.miis_blue .page { margin-top:24px; display:table; }
  .miis_blue .breadcrumb { background:none; margin:0px 0px 9px 0px; color:#666666; width:100%; font-size:12px; -moz-box-shadow:none; -webkit-box-shadow:none; }
    .miis_blue .breadcrumb a { color:#18447C; font-weight:bold; }
    .miis_blue .breadcrumb a:hover { color:#1A2D49; }
  .miis_blue .body, .miis_blue .sidebar { display:table-cell; vertical-align:top; float:none; }
  .miis_blue .body { width:704px; border:none; }
    .miis_blue .body .content a { text-decoration:underline; }
  .miis_blue .node-page header { width:100%; margin-bottom:12px; }
  .miis_blue .opening, .miis_blue .opening td { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#5E6676; font-size:21px; }
  .miis_blue .sidebar { max-width:236px; padding:0px 10px 0px 10px; margin:0px; background-color:#5E6676; }
    .miis_blue .sidebar header{ width:236px; }
    .miis_blue .sidebar h1 { font-size:16.4px; font-weight:bold; color:#FFD231; margin:0px; margin-bottom:12px; border:none; }
    .miis_blue .sidebar ul.menu { margin:0; width:204px; list-style-type:none; }
      .miis_blue .sidebar ul.menu a { display:block; border:none; margin:3px 0px 3px 0px; padding:8px 10px 8px 10px; text-decoration: none; font-size:1.0em; line-height:2.0em; font-weight:bold; color: #DDDDEE; }
      .miis_blue .sidebar ul.menu a:hover { background-color:#18447C; text-decoration:none; color:#FFFFFF; }
      .miis_blue .sidebar ul.menu li.expanded.here, .miis_blue .sidebar ul.menu .active a:hover { background-color:#18447C; text-decoration:none; color: #FFFFFF; }
      .miis_blue .sidebar ul.menu li.expanded.here ul { background-color:#5E6676; }
      .miis_blue .sidebar ul.menu li.expanded ul li { padding:4px 12px; }
    .miis_blue .sidebar .node a { color:#001534; }
.miis_blue .sidebar .node-rss-page { }
  .miis_blue .sidebar .node-rss-page .item-list { display:none; }
  .miis_blue .sidebar .node-rss-page a { color:#FFFFFF; }
  .miis_blue .sidebar #rss-page h3 a { color:#FFFFFF; text-decoration:none; font-weight:bold; }
.miis_blue .sidebar .node-storylist section, .miis_blue .sidebar .node-storylist aside { display:block; padding:0px; }
  .miis_blue .sidebar .node-storylist h1 a { color:#83B2F9; font-size:15px; font-weight:bold; }
.miis_blue .profile-left { background-color:transparent; }
.miis_blue .node-profile .field-type-taxonomy-term-reference { padding-left:216px; }
.miis_blue .view-blue-homepage-ccs .pager-current { display:none; }
.miis_blue .node-page-form { width:704px; }

/* Blue - Center for the Blue Economy */
body.miis_center { background:url('//cdn.middlebury.edu/miis.edu/2010/images/blue/cbe_background.jpg') no-repeat left top; background-attachment:fixed; }
  .miis_center nav { width:960px; margin:0 auto; }
  .miis_center .theme_page h2 { font-size:29px; }
  .miis_center h4, .miis_center .theme_page h3 { color:#83B2F9; }
  .miis_center .body #miis_content { padding-top:0px; }
  .miis_center .body { padding-bottom:36px; }
  .miis_center .body h1 { margin-bottom:32px; }
  .miis_center .body h4 { color:#666666; }
  .miis_center .page { margin-top:0px; }
  .miis_center .page, .miis_center .theme_page .sidebar, .miis_center .footer { background-color:#001534; }
  .miis_center .footer { padding:14px 25px 0px 25px; margin:0px auto 0px auto; width:910px; }
  .miis_center .opening { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:21px; color:#03466C; }
    .miis_center .opening a { color:#272C6F; }
  .miis_center .sidebar h4 { font-size:12.6px; padding-top:8px; }
  .miis_center .sidebar .opening { color:#83B2F9; font-size:1em; }
  .miis_center .sidebar .node a { color:#FFFFFF; }
  .miis_center .sidebar .node p a { color:#001534; }
  .miis_center .sidebar .field-type-taxonomy-term-reference { display:none; }
  .miis_center .footer h6 { color:#FFFFFF; }
  .miis_blue.miis_center header.header { height:160px; }
  .miis_blue.miis_center .subsite_slogan { top:20px; height:120px; width:300px; color:#18447C; }
  .miis_blue.miis_center .header_search { top:100px; margin-top:20px; }

/* Fullwidth */
.miis_fullwidth .node-subpglist a, .miis_fullwidth .node-subpglist a:hover { display:inline; }
.miis_fullwidth .node-subpglist table, .miis_fullwidth .node-subpglist tr, .miis_fullwidth .node-subpglist td, .miis_fullwidth .node-subpglist li, .miis_fullwidth .node-subpglist a.h3, .miis_fullwidth .node-subpglist li.h4 > a { display:block; }
.miis_fullwidth .columns a { display:block; }
  .miis_fullwidth .two .column, .miis_fullwidth .two a { width:404px; }
  .miis_fullwidth .three .column, .miis_fullwidth .three a { width:254px; }
  .miis_fullwidth .four .column, .miis_fullwidth .four a { width:179px; }
.miis_fullwidth .page .fullheader h1 { font-size:2.4em; border:none; }
.miis_fullwidth .node-subpglist td { margin-right:20px; }
  .miis_fullwidth .node-subpglist td ul { list-style-type:none; margin:20px 0px 20px 0px; }
  .miis_fullwidth .node-subpglist td.last { margin-right:0px; }
.miis_fullwidth .node-subpglist a.h3 { font-size:1em; padding:5px 8px; border:1px solid #666666; background-color:#336699; color:#FFFFFF; font-weight:normal; }
  .miis_fullwidth .node-subpglist a.h3:hover { color:#EEEEEE; }
  .miis_fullwidth .third .third a.h3 { background-color:#003366; }
  .miis_fullwidth .last a.h3 { background-color:#CCFF66; border-color:#CCCCCC; color:#003366; }
.miis_fullwidth li.h4 > a { padding:4px; font-size:0.857em; background-color:#EBEBEB; color:#003366; font-weight:bold; }
.miis_fullwidth .node-subpglist td > ul > li > ul > li > a, .miis_fullwidth .node-subpglist li.h4 > ul > li > a { padding-left:12px; }

/* Languages */
.miis_languages .breadcrumb, .miis_languages_rtl .breadcrumb, .miis_languages .titlecard, .miis_languages_rtl .titlecard { width:684px; }
.miis_languages_rtl .sidebar { float:left; padding-right:5px; }

/* 10 Questions */
.node-10questions header { background:url(../images/10questions_header.gif) no-repeat left top; padding:77px 24px 0px 24px; margin:0px -24px 0px -24px; }
.node-10questions h1 { font-size:1.2em; color:#003366; font-weight:bold; letter-spacing:2px; }
.node-10questions h2 { font-size:2.0em; color:#666666; font-weight:normal; margin-top:32px; }
.node-10questions h5 { color:#790E39; font-weight:bold; font-size:1.3em; }

.node-10questionslist { background-color:#DDDDDD; padding:24px 24px 12px 24px; margin:0px -24px -36px -24px; clear:left; min-height:40px; vertical-align:middle; clear:both; }
  .node-10questionslist header { background: url(../images/10questions.gif) top left no-repeat; height:62px; padding:18px 12px 12px 120px; margin:0px 0px 0px 0px; }
  .node-10questionslist header h1 { font-size:1.4em; line-height:1.3em; }
  .node-10questionslist header h1 a { color:#790E39; }

/* Basic Content */
.node-page header { max-width:424px; }
  .node-page header.fullheader { max-width:648px; }
.node-page h1 { font-family:Arial,Helvetica,sans-serif; color:#114477; font-size:3em; padding-bottom:5px; border-bottom:1px solid #000000; margin-bottom:0px; }
  .leadimage { float:right; background-color:#E4EAF3; overflow:hidden; width:238px; margin:-90px -36px 5px 12px; }
  .leadimage figcaption { color:#666666; font-style:italic; font-size:.9em; line-height:1.2em; padding:8px 10px 8px 10px; }
  .content-sidebar { float:right; clear:right; padding:12px 0px 12px 12px; margin:0px -24px 0px 0px; max-width:212px; }
    .content-sidebar .container { width:auto; }
  .opening { font-family:Georgia,Times,serif; color:#5E6676; padding:12px 0px 12px 0px; font-size:1.5em; line-height:1.3em; }
    .opening p { display:inline; }
    .opening a { color:#114477; font-weight:normal; border:none; }
    .opening a:hover { text-decoration:underline; }
.node-page  .contents > .field-name-body { margin-top:12px; }

/* Be the Solution */
.node-bethesolution header { float:left; width:696px; height:267px; margin:-50px 0px 24px -24px; position:relative; z-index:100;}
  .node-bethesolution header  h1 { padding:24px 24px 6px 24px; margin-top:0px; background:transparent url(../images/blue_titleoverlay_trans.png) repeat-x; height:58px; font-size: 2.6em; color:#FFFFFF; }
.be-the-solution { color:#EEEEEE; margin-bottom:50px; }
  #block-views-be-the-solution-homepage h2, #block-views-be-the-solution-sidebar h2 { font-size:2.3em; font-weight:normal; font-family:"Goudy Old Style",Goudy,"Times New Roman",Times,serif; color:#76DB5B; white-space:nowrap; }
  .be-the-solution a { color:#76DB5B; border:none; font-weight:normal;}
    .be-the-solution a:hover { text-decoration:underline; }
  .be-the-solution .view-header { font-size:1.2em; }

#miis_header_caption { background-image:url(../images/black_trans.png); }
.header_caption { float:right; clear:both; color: #BBBBBB; width:196px; position:absolute; bottom:0px; right:0px; padding:10px 12px; display:block; }
  .header_caption a { font-weight:bold; font-size:1.1em; line-height:1em; border-bottom:1px dotted #222222; outline:none; color:#FFFFFF; }
  .header_caption a:hover { border-bottom-style:solid; text-decoration: none; color:#FFFFFF; }
  .header_caption_about { background-image:url(../images/black_trans.png); padding:10px 12px; color:#FFFFFF; font-size:0.929em; color:#BBBBBB; position:absolute; width:196px; bottom:0px; right:0px; display:none; }
  .header_caption_close { position:absolute; top:3px; right:0px; display:block; height:12px; width:24px; line-height:12px; font-weight:bold; border-bottom:none; text-align:center; outline:none; }

/*  FAQs */
details { padding:0px; color:#444444; display:block; }
details summary { font-size:1.4em; color:#790E39; margin-bottom:0.2em; margin-top:0.6em; }
summary::-webkit-details-marker { display:none; }
summary:before { font-size: 1.4em; color:#790E39; font-weight:bold; margin-bottom:0.2em; margin-top:0.6em; margin-right:12px; content:'+'; color:#004A81; }
details[open] summary:before { content:'x'; color:#5D6878; }
details p.tags { padding-left:24px; margin-bottom:0px; }
details p.tags a { color:#336699; }

/* File Upload */
.node-mm_media-form .field-name-field-multimedia fieldset { border:1px solid black; padding:8px; }
  .node-mm_media-form .field-name-field-multimedia legend { font-size:1.2em; font-weight:bold; padding:4px; }
  .node-mm_media-form .field-name-field-multimedia .button {   font:bold 11px Arial; text-decoration:none;  background-color:#EEEEEE; color:#333333; padding:2px 6px 2px 6px; border-top:1px solid #CCCCCC; border-right:1px solid #333333; border-bottom:1px solid #333333; border-left:1px solid #CCCCCC; }
.node-mm-media header h1 { color:#790E39; font-size:1.6em; font-weight:bold; line-height:1.25em; }

/* Gallery */
.node-gallery h1 { color:#790E39; font-size:1.6em; line-height:1.25em; font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; font-weight:bold; }

/* Profile */
.node-profile { float:none; margin-top:0px; clear:both; }
.node-profile > header { margin-left:216px; }
.node-profile h3, .node-profile .group-profile-jobtitle { font-family:Georgia,Times,serif; color:#5E6676; font-size:1.5em; font-weight:normal; border-bottom:1px solid #CCCCCC; margin-bottom:14px; }
  .node-profile .group-profile-jobtitle div { display:inline; font-size:0px; }
    .node-profile .group-profile-jobtitle div.field-item { font-size:20.4px; }
.node-profile h4 { font-size:1.3em; font-weight:bold; color:#336699; line-height:1.25em; }
.profile-left { float:left; width:214px; margin:-48px 0px 0px -24px; background-color:#192E6D; overflow:hidden; }
  .profile-left img { display:block; margin:0px auto; }
  .profile-left a { color:#FFD231; }
  .profile-left a:hover { color:#FFD231; background:transparent; }
  .profile-contact { color:#FFFFFF; padding:14px 8px 14px 8px; font-size: 1.0em; line-height:1.2em; background-color:#192E6D; }
    .profile-contact .field { margin-bottom:1em; }
    .profile-contact .field-label { font-size:0.857em; padding-bottom:6px; }
.profile-body { clear:none; padding-left:216px; }
  .profile-extras p { margin:10px 15px 10px 15px; font-size:0.929em; }
    .profile-extras h4, .profile-extras .field-label { font-size:1.3em; font-weight:bold; color:#336699; line-height:1.25em; }
    .profile-extras ul { margin:0px 1.0em 0px 0.8em; }

/* Profile Views - Board */
.view-board .views-row { float:left; width:190px; vertical-align:top; padding:10px; }
.view-board .views-field-title { height:40px; margin-bottom:14px; font-size:1.3em; font-weight:bold; line-height:1.25em; }
.view-board .views-field-title a { color:#336699; }
.view-board .views-field-title a:hover { text-decoration:none; color:#114477; }
.view-board .view-content:after { content:''; display:block; clear:both; }

/* Profile Views - Profiles */
.view-profiles .views-row { float:left; width:280px; background-color:#EFEEE9; border:1px solid #D4D6C8; padding:16px 16px 8px 16px; margin:10px; line-height:1.5em; font-size:0.88em; }
.view-profiles .views-row:nth-child(odd) { margin-left:0px; clear:left; }
.view-profiles .views-row:nth-child(even) { margin-right:0px; }
  .view-profiles .views-field-field-image { float:right; }
  .view-profiles .views-field-body { float:right; clear:right; margin-top:15px; text-align: center; width:85px; }
  .view-profiles .views-field-title { color:#114477; font-family:Arial,Helvetica,sans-serif; font-size:2.4em; line-height:1.1em; margin-bottom:0.4em; }
  .view-profiles .views-field-field-jobtitle,
  .view-profiles .views-field-field-email,
  .view-profiles .views-label { font-weight:bold; }
  .view-profiles .views-field-field-location .field-content,
  .view-profiles .views-field-field-email .field-content,
  .view-profiles .views-field-field-phone .field-content { display:inline; }
.view-profiles .view-content:after { content:''; display:block; clear:both; }

/* Course Lists */
.course_sections tbody td { vertical-align:top; }
.course_sections tbody td:first-child { width:9em; }
.course_sections .sectiondesc, .course_sections .sectioninfo { display:none; }
.course_sections h5.sectiontitle { font-size:1.3em; font-weight:bold; }
.course_sections dl.sectioninfo { width:38em; }
  .course_sections dl.sectioninfo dt { width:7em; }
  .course_sections dl.sectioninfo dd { width:29em; }

/* Quickaccess */
.node-qa input { width:20em; font-size:1.2em; margin-top:0.2em; }
.qa_blur, .qa_noquery { display:none; }
.qa_toomany, .qa_nonefound { font-style:italic; }
.node-qa form label { display:inline; font-weight:normal; margin:0px; }
.node-qa form div { width:20em; position:relative; z-index:800; }
.node-qa form ul { margin:0px; position:absolute; top:0px; left:0px; width:100%; border:1px solid #999999; border-top:none; background-color:#FFFFFF; list-style-type:none; }
  .node-qa form li { padding:2px 0.5em 2px 0.5em; margin:0px; }
    .qa_highlight { background-color:#FFEE88; border:solid #FFBB44; border-width:1px 0px; text-decoration:underline; }
    .qa_selected { background-color:#DDDDEE; }

/* RSS Page */
.node-rss-page .item-list { display:none; }
  .sidebar #rss-page a { color:#FFFFFF; text-decoration:none; font-weight:normal; }
  .sidebar #rss-page a:hover { color:#FFFFFF; text-decoration:none; }
  .sidebar .node-rss-page .feed-item-date, .sidebar .node-rss-page legend, .sidebar .node-rss-page .feed-source { display:none; }

/* Section */
.node-section { background-color:#DDDDDD; padding:24px 24px 12px 24px; margin:0px -24px -36px -24px; clear:left; min-height:40px; vertical-align:middle;clear:both; }
.node-section.has-tweets { margin-top:200px; }
  .twitter a { font-weight:bold; }
  .twitter .twitter_user { position:relative; display:inline; }
  .twitter .tweet { position:absolute; bottom:45px; left:-60px; background-color:#192E6D; padding:20px; font-size:1.15em; line-height:1.3; color:#FFFFFF; width:180px; -moz-border-radius:20px; -webkit-border-radius:20px; }
    .twitter .tweet a { color:#FFD231; border-color:#FFD231; }
    .twitter .tweet .tweet_stem { position:absolute; bottom:-23px; left:90px; width:38px; height:23px; background-image:url('../images/tweet_stem.gif'); }

/* Sub-Page List */
.node-subpglist table, .node-subpglist tr, .node-subpglist th, .node-subpglist td { background-color:#FFFFFF; vertical-align: top; }

/* Story */
.node-story h1 { float:left; width:338px; }
.node-story figure, .node-story .media-contact { float:right; overflow:hidden; margin:-12px -12px 0px 0px; border:2px dashed #E4EAF3; max-width:310px; clear:right; }
  .node-story .media-contact { margin-top:24px; padding:12px 12px 0px 12px; width:286px; }
  .node-story figure>div, .node-story figure>p, .node-story figure>a>p { padding:8px 10px; margin-bottom:0; }
  .node-story figure p.enlarge { font-size:10px; margin-bottom:-6px; text-align:right; padding:12px 12px 0px 0px; }
  .node-story figcaption { color:#666; padding:8px 10px; font-style:italic; font-size: .9em; line-height:1.2em; }

.node-storylist h1 { font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; font-size:1.2em; font-weight:bold; float:none; width:100%; border:none; }
.node-storylist section, .node-storylist aside { display:table-cell; vertical-align: top; padding:0px 18px 10px 20px; }
.node-storylist aside { width: 140px; }
.node-storylist p.enlarge { display:none; }
.node-storylist time { font-weight:bold; display:inline; }
.node-storylist time+p, .node-storylist time+div, .node-storylist time *, .node-storylist time+div * { display:inline; }
  .node-storylist aside .mm-gallery-caption { display:none; }

/* Webform */
.webform-client-form .form-item .description { white-space:pre-line; }
.webform-client-form fieldset { padding:1em; margin-bottom:1em; border:1px solid #000000; }
.webform-client-form legend { font-size:1.2em; font-weight:bold; }
