.midd_blse.ripton,
.midd_blse_inside {
  background-image: url("../images/blse/background_ripton.jpg?2016-09-19"); }

.midd_blse.oxford {
  background-image: url("../images/blse/background_oxford.jpg?2016-09-19"); }

.midd_blse.santafe {
  background-image: url("../images/blse/background_santafe.jpg?2016-09-19"); }

.header_callout {
  background: url("../images/black_80.png");
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 43px;
  bottom: 93px; }
  .header_callout ul {
    list-style-type: none;
    margin: 0px; }
  .header_callout li {
    margin: 0px; }
  .header_callout a {
    color: #FFFFFF;
    border: none; }
  .header_callout a:hover {
    color: #F9DD3F;
    background-color: #000000; }
  .header_callout a.selected {
    color: #F9DD3F;
    font-weight: bold; }
  .midd_blse_inside .header_callout {
    display: none; }

.midd_blse h1.wordmark, .midd_blse_inside h1.wordmark {
  width: 931px;
  padding: 25px 0px 141px 29px; }

.midd_blse h1.wordmark a, .midd_blse_inside h1.wordmark a {
  background: url("../images/blse/logo.png?2016-09-19") transparent no-repeat top left;
  width: 931px;
  height: 84px;
  display: block;
  text-indent: -9999px; }

form.search {
  position: absolute;
  top: 25px;
  right: 43px; }

.navigation ul {
  padding: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navigation ul html:not(.flexbox) {
    overflow: hidden; }

.navigation li {
  float: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .navigation li html:not(.flexbox) {
    display: inline-block; }

.navigation a {
  display: block;
  color: #113a5f;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-indent: 0 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  height: auto !important;
  position: relative;
  -webkit-transition: .2s;
          transition: .2s;
  background-color: #f8d140; }
  .navigation a:hover {
    background-color: #fadd71 !important; }

.navigation ul:last-child a {
  background-color: #ccc;
  color: #333; }
  .navigation ul:last-child a:hover {
    background-color: #e6e6e6 !important; }

label {
  display: block;
  margin-bottom: 5px; }

.select {
  position: relative;
  background-color: #fff; }

.select:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid transparent;
  position: relative;
  background-color: transparent;
  z-index: 2; }

.form-group {
  position: relative;
  margin-bottom: 10px; }

.form-group.has-error input,
.form-group.has-error select {
  border-color: tomato; }

.form-group.form-actions {
  margin-top: 20px; }

.form-control {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 0; }

textarea.form-control {
  resize: vertical; }

html:not(.placeholder) .element-invisible {
  display: block;
  clip: auto;
  height: auto;
  position: relative !important;
  overflow: visible; }

.hero {
  background-color: #0d395f;
  padding: 20px; }

.hero-title {
  color: #f8d140;
  font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
  font-size: 29px;
  margin-bottom: 20px; }

.hero-video-form:after {
  content: '';
  display: block;
  clear: both; }

.hero-video {
  position: relative;
  width: 600px;
  float: left; }
  .hero-video video {
    width: 100%;
    height: auto;
    cursor: pointer; }

.hero-video-btn {
  position: absolute;
  left: 15px;
  bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: #8eaf42;
  padding: 2px 8px;
  border: 0; }
  .video-playing .hero-video-btn {
    display: none; }

.hero-form {
  padding-left: 20px;
  float: left;
  width: 300px; }
  .hero-form label {
    color: #fff; }

.intro {
  padding: 50px 130px 50px; }
  .intro-title {
    font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
    font-size: 23px;
    color: #113a5f;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 24px; }
  .intro-text {
    font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 28px;
    margin-bottom: 30px; }
  .intro-link {
    color: #8eaf42;
    font-weight: bold;
    border-bottom: 1px solid #8eaf42;
    padding-bottom: 2px;
    display: inline-block; }
    .intro-link:hover {
      color: #8e9b39;
      border-color: #8e9b39;
      background-color: transparent; }

.traits {
  padding-left: 130px;
  padding-right: 130px; }

.traits-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.traits-item {
  width: 50%;
  margin-bottom: 70px;
  box-sizing: border-box; }
  .traits-item:nth-of-type(odd) {
    padding-right: 50px; }
  .traits-item:nth-of-type(even) {
    padding-left: 50px; }

.traits-item-title {
  color: #000;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
  border-top: 10px solid transparent;
  padding-top: 10px;
  display: block; }

.traits-item-text {
  color: #333;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  font-size: 14px;
  line-height: 1.6; }

.traits-item-intensive .traits-item-title {
  border-color: #972d29; }

.traits-item-innovative .traits-item-title {
  border-color: #1d9f8b; }

.traits-item-distinctive .traits-item-title {
  border-color: #b0862d; }

.traits-item-transformative .traits-item-title {
  border-color: #75a3cd; }

.footer {
  background-color: transparent;
  margin-top: 0 !important;
  margin-bottom: 50px; }
  .footer p {
    color: #333;
    font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
    line-height: 1.5; }
    .footer p:last-of-type {
      margin-bottom: 0; }
  .footer a {
    color: #333;
    border-color: #ccc; }
    .footer a:hover {
      background-color: transparent;
      border-bottom: 1px solid #000; }
  .footer strong {
    text-transform: uppercase;
    letter-spacing: .05em; }
  .footer .container {
    background-color: #f5f5f4;
    padding: 25px;
    box-sizing: border-box; }

.rule {
  padding-bottom: 60px; }

.rule-buttoned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .rule-buttoned:before, .rule-buttoned:after {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #113a5f; }
  .rule-buttoned .btn {
    white-space: nowrap; }

.btn {
  cursor: pointer;
  display: inline-block;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 10px 20px;
  -webkit-transition: background-color .2s;
          transition: background-color .2s; }
  .btn:disabled {
    opacity: 0.5; }
  .btn:hover {
    padding: 10px 20px !important; }

.btn-block {
  display: block;
  width: 100%; }

.btn-arrow {
  margin-left: 5px;
  height: 20px;
  position: relative;
  top: 3px; }

.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: #8eaf42 !important; }
  .btn-primary:hover,
  .btn-primary:hover:hover {
    color: #fff;
    background-color: #7f9c3b !important; }

.btn-secondary {
  color: #fff;
  background-color: #113a5f !important; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #0d2d49 !important; }

.search_query {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.929em;
  color: #666666; }

.search_submit.ir {
  background: url("../images/arrow_go_white.png"); }

.midd_blse .page {
  float: none;
  border: none;
  width: 100%;
  padding: 0; }

.midd_blse .pagecontent,
.midd_blse_inside .pagecontent {
  margin-top: 0; }
