body.midd_blwc { background-image:url('../images/blwc/breadloaf.jpg'); }
.column > a, .column .content > a { display:none; }

.midd_blwc h1.wordmark, .midd_blwc_inside h1.wordmark { width:924px; }
.midd_blwc h1.wordmark { padding:287px 0px 6px 0px; }
.midd_blwc_inside h1.wordmark { padding:50px 0px 6px 0px; }

.search_query { background-color:#FFFFFF; border:none; font-size:0.929em; color:#666666; }
.search_submit.ir { background:url('../images/arrow_go_white.png'); }

.navigation ul { background-color:#F9DD3F; border-bottom:30px solid #CCCCCC; font-size:1em; height:30px; line-height:30px; margin:0px; }
  .midd_blwc .navigation ul li a, .midd_blwc_inside .navigation ul li a { height:30px; position:relative; }
    .navigtaion li a span { display:block; height:30px; left:0px; position:absolute; top:0px; width:100%; }
  .navigation li.top { margin:0px 23px 0px 23px; }
    .navigation li.top a span { background-image:url('../images/blwc/nav_breadloaf_top.gif'); }
  .navigation li.bottom { margin:0px 63px 0px 63px; }
    .navigation li.bottom a span { background-image:url('../images/blwc/nav_breadloaf_bottom.gif'); }
  .navigation li.nav_history { width:58px; margin-left:19px; }
    .nav_history a span { background-position:-7px 0px; }
    .nav_history a:hover span { background-position:-7px -30px; }
    .nav_history.active a span { background-position:-7px -60px; }
  .nav_program { width:69px; }
    .nav_program a span { background-position:-112px 0px; }
    .nav_program a:hover span { background-position:-112px -30px; }
    .nav_program.active a span { background-position:-112px -60px; }
  .nav_admissions { width:95px; }
    .nav_admissions a span { background-position:-227px 0px; }
    .nav_admissions a:hover span { background-position:-227px -30px; }
    .nav_admissions.active a span { background-position:-227px -60px; }
  .nav_faculty { width:139px; }
    .nav_faculty a span { background-position:-367px 0px; }
    .nav_faculty a:hover span { background-position:-367px -30px; }
    .nav_faculty.active a span { background-position:-367px -60px; }
  .nav_staff { width:38px; }
    .nav_staff a span { background-position:-553px 0px; }
    .nav_staff a:hover span { background-position:-553px -30px; }
    .nav_staff.active a span { background-position:-553px -60px; }
  .nav_community { width:120px; }
    .nav_community a span { background-position:-636px 0px; }
    .nav_community a:hover span { background-position:-636px -30px; }
    .nav_community.active a span { background-position:-636px -60px; }
  .navigation li.nav_support { width:88px; margin-right:22px; }
    .nav_support a span { background-position:-802px 0px; }
    .nav_support a:hover span { background-position:-802px -30px; }
    .nav_support.active a span { background-position:-802px -60px; }
  .navigation li.nav_orion { width:71px; margin-left:19px; }
    .nav_orion a span { background-position:-11px 0px; }
    .nav_orion a:hover span { background-position:-11px -30px; }
    .nav_orion.active a span { background-position:-11px -60px; }
  .nav_translators { width:120px; }
    .nav_translators a span { background-position:-190px 0px; }
    .nav_translators a:hover span { background-position:-190px -30px; }
    .nav_translators.active a span { background-position:-190px -60px; }
  .nav_sicily { width:71px; }
    .nav_sicily a span { background-position:-420px 0px; }
    .nav_sicily a:hover span { background-position:-420px -30px; }
    .nav_sicily.active a span { background-position:-420px -60px; }
  .navigation li.nav_bakeless { width:244px; margin-right:17px; }
    .nav_bakeless a span { background-position:-597px 0px; }
    .nav_bakeless a:hover span { background-position:-597px -30px; }
    .nav_bakeless.active a span { background-position:-597px -60px; }

.midd_blwc .pagecontent, .midd_blwc_inside .pagecontent { margin-top:0px; }
  .midd_blwc .page { border:none; width:100%; padding:0%; }

.columns { margin-left:9px; background:url('../images/blwc/column_gray.gif') repeat-7 383px top; }
.columns .column { padding:18px; margin:0px; width:240px; }
.columns .first { width:347px; }
.columns .gray h5 { margin:0px; }

.opening { font-size:1.2em; color:#444400; }
  .opening a { font-size:italic; border:none; }

h2 { color:#666666; font-family:Georgia,serif; margin-bottom:16px; }

.footer a { border:none; }
.footer ul { float:left; }
  .quick_contact { margin-left:0px; }
.footer_wordmark { float:right; }
  .footer a.footer_wordmark:hover { background-color:transparent; }