body.midd_blwc { background-image:url('../images/blwc/breadloaf.jpg?2015-05-28'); }
.column > a, .column .content > a { display:none; }

.midd_blwc h1.wordmark, .midd_blwc_inside h1.wordmark { width:950px; text-align:center; }
.midd_blwc h1.wordmark { padding:261px 0px 0px 0px; }
.midd_blwc_inside h1.wordmark { padding:50px 0px 0px 0px; }
  .midd_blwc h1.wordmark a, .midd_blwc_inside h1.wordmark a { display:block; height:64px; }

.search_query { background-color:#FFFFFF; border:none; font-size:0.929em; color:#666666; }
.search_submit.ir { background:url('../images/arrow_go_white.png'); }

.navigation ul { background-color:#F9DD3F; font-size:1em; height:30px; line-height:30px; margin:0px; }
  .midd_blwc .navigation ul li a, .midd_blwc_inside .navigation ul li a { height:30px; position:relative; }
    .navigtaion li a span { display:block; height:30px; left:0px; position:absolute; top:0px; width:100%; }
  .navigation li.top { margin:0px 46px 0px 46px; }
    .navigation li.top a span { background-image:url('../images/blwc/nav_breadloaf_top.gif'); }
  .nav_program { width:85px; }
    .nav_program a span { background-position:-36px 0px; }
    .nav_program a:hover span { background-position:-36px -30px; }
    .nav_program.active a span { background-position:-36px -60px; }
  .nav_admissions { width:100px; }
    .nav_admissions a span { background-position:-215px 0px; }
    .nav_admissions a:hover span { background-position:-215px -30px; }
    .nav_admissions.active a span { background-position:-215px -60px; }
  .nav_history { width:65px; }
    .nav_history a span { background-position:-412px 0px; }
    .nav_history a:hover span { background-position:-412px -30px; }
    .nav_history.active a span { background-position:-412px -60px; }
  .nav_community { width:104px; }
    .nav_community a span { background-position:-570px 0px; }
    .nav_community a:hover span { background-position:-570px -30px; }
    .nav_community.active a span { background-position:-570px -60px; }
  .nav_support { width:100px; }
    .nav_support a span { background-position:-765px 0px; }
    .nav_support a:hover span { background-position:-765px -30px; }
    .nav_support.active a span { background-position:-765px -60px; }

.midd_blwc .pagecontent, .midd_blwc_inside .pagecontent { margin-top:0px; }
  .midd_blwc .page { border:none; width:100%; padding:0%; }

.columns { margin-left:9px; background:url('../images/column_gray.gif') repeat-y 383px top; }
.columns .column { padding:18px; margin:0px; width:240px; }
.columns .first { width:347px; }
.columns .gray h5 { margin:0px; }

.opening { font-size:1.2em; color:#444400; }
  .opening a { font-size:italic; border:none; }

h2 { color:#666666; font-family:Georgia,serif; margin-bottom:16px; }

.footer a { border:none; }
.footer ul { float:left; }
  .quick_contact { margin-left:0px; }
  #block-middlebury-midd-blocks-midd-footer-shield a { display:block; float:right; margin:13px 0px 6px 0px; }
    .footer .block-middlebury-midd-blocks > .content > ul > li { margin:69px 2px 0px 2px; }