div.hub_dashboard h1 {
  margin-bottom: 20px;
}

div.hub_dashboard div.site {
  clear: both;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted;
  with:720px;
  padding-right: 50px;

}
div.hub_dashboard div.clear {
  height: 5px;
}

div.hub_dashboard div.content {
/*  float: right;*/
/*  width: 630px;*/
}

div.hub_dashboard div.stats {
  float: left;
  text-align: center;
  color: #FFF;
  margin-right: 5px;
  width: 41px;
}
div.hub_dashboard div.stat {
  background-color: #aaa;
  margin-bottom: 2px;
}
div.hub_dashboard div.stat_value {
  font-size: 1.55em;
  line-height: 1.15em;
  font-weight: bold;
}
div.hub_dashboard div.stat_label {
  background-color: #666;
  font-size: 0.7em;
}

div.hub_dashboard h2 {
  margin-top: -5px;
  float: left;
  width: 520px;
}
div.hub_dashboard h2 a {
  border-bottom: none;
}
div.hub_dashboard h2 a:hover {
  border-bottom: 1px solid;
  background-color: inherit;
}

div.hub_update {
  clear: left;
}
div.hub_dashboard div.meta {

}
div.hub_update div.meta a, div.hub_update div.meta span {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #EFEEE9;
  border: 1px solid #D4D5D0;
  font-size: .90em;
  font-weight: normal;
  line-height: .5em;
  color: #03466C;
}

div.hub_update div.meta a:hover, div.hub_update div.meta span {
  background-color: #FCEFBC;
}

div.hub_dashboard div.meta div.create_date {
  float: left;
  margin-right: 0.5em;
}

div.hub_dashboard div.content {

}
div.hub_dashboard div.title {
  float: left;
  margin-right: 1.5em;
  font-weight: bold;
}
div.hub_dashboard div.teaser p {
  margin-bottom: 0px;
}

div.hub_dashboard div.more {
  float: right;
}

div.hub_dashboard div.resource_links {
  float: right;
  margin-top: -5px;
  margin-right: 0px;
}
div.hub_dashboard div.resource_links h3 {
  float: right;
  width: 80px;
  text-align: center;
}
div.hub_dashboard .dropdown .contents {
  width: 250px;
  left: auto;
  right: 0;
}

/* Updates as link rows */
div.hub_dashboard div.about_links, div.hub_dashboard div.resource_links {
  clear: left;
  float: none;
  margin-top: 0px;
}
div.hub_dashboard div.resource_links {
  margin-left: 20px;
}
div.hub_dashboard div.about_links li, div.hub_dashboard div.resource_links li  {
  float: left;
  margin-left: 0px;
  margin-right: 20px;
  list-style-type: none;
}

div.hub_dashboard div.manage_button {
  float: right;
}
div.hub_dashboard div.manage_button button {
  border: 1px solid;
}
div.hub_dashboard div.manage_button button:hover {
  cursor: pointer;
}

/*********************************************************
 * Instructor Course list
 *********************************************************/
div.hub_dashboard .instructor_section_unmanagable {
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

div.hub_dashboard table.instructor_sections {
  width: 100%;
}

div.hub_dashboard table.instructor_sections tbody th {
  background-color: white;
  border-top: 0px;
  font-weight: bold;
}

/**********************************************************
 * End instructor Course list
 **********************************************************/

.messages {
  background-color: white;
  border: 1px solid #B8D3E5;
}
div.status {
  border-color: #C7F2C8;
  color: #33A333;
}

body.midd_courses nav.left a {
    border-bottom-color: #03466C;
    color: #03466C;
}

body.midd_courses ul.menu {
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}
body.midd_courses ul.menu li {
    border-bottom-color: #CCCCCC !important;
    border-top-color: #CCCCCC !important;
}

body.midd_courses div.content > ul.menu > li {
  margin: 0px;
}

body.midd_courses ul.menu li a {
    padding-left: 6px;
}
body.midd_courses div.content > ul.menu > li > ul.menu > li {
  padding: 4px 12px;
  padding-left:0px;
}

body.midd_courses div.content ul.menu li {
  padding: 0px;
}

div.content > ul.menu > li > ul.menu > li.expanded > ul.menu, div.content > ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu {
    margin-left: 10px;
}
div.content > ul.menu {
    width: 190px;
    margin: 0;
    padding: 0;
}
.taskbar {
  color: #084B71;
  font-weight: bold;
  text-align:right;
  background: #FCEFBC;
}
div#block-views-course-hub-home-block,
div.view-course-hub-home {
  width: 470px;
}
div.view-course-hub-home div.view-content div.views-row-first article section.contents {
  border-top: 1px solid;
  margin-top: 10px;
  padding-top: 10px;
}
body.front div.view-course-hub-home {
  width: 700px;
}
div#block-views-course-hub-home-block dl,
div.view-course-hub-home dl {
  width: 32em;
}
div#block-views-course-hub-home-block dt,
div.view-course-hub-home dt {
  width: 10em;
  clear: none;
  min-height: 20px;
}
div#block-views-course-hub-home-block dd,
div.view-course-hub-home dd  {
  width: 20em;
  min-height: 20px;
}
dl.node-type-list {
  width: 32em;
}

dl.node-type-list dt {
  width: 10em;
  clear: none;
}

dl.node-type-list dd {
  width: 20em;
}

div.clearfix {
  display:inline-block;
  margin-bottom: 1em;
}

/*********************************************************
 * Roster styles
 *********************************************************/

.course_hub_roster_person {
  clear: left;
}
.course_hub_roster_person img.course_hub_roster_photo {
  float: left;
  width: 200px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.roster h2 {
  clear: left;
}

.course_hub_roster_person dl {
  float: left;
  width: 18em;
}

.course_hub_roster_person dl dt {
  width: 5em;
}

.course_hub_roster_person dl dd {
  width: 11em;
}

.course_hub_roster_person .warning_template {
  display: none;
}

.ui-dialog {
  z-index: 500;
}

.ui-dialog-titlebar {
  padding: 5px;
}
.ui-dialog-titlebar-close {
  float: right;
}

.warning_template {
  padding: 10px;
}

/*********************************************************
 * Top Navigation styles
 *********************************************************/
.navigation ul { background-color:#806807; font-size:1em; height:30px; line-height:30px; margin-bottom:0px; margin:0px; }
  .navigation li { margin:0px 40px 0px 40px; }
    .navigation li a { color:#051B36; height:30px !important; position: relative; }
      .navigation li a span { background-image: url(../images/courses/nav_coursehub.png); display:block; height:36px; left:0px; position:absolute; top:0px; width:100%; }
  .nav_catalog { width: 140px; }
    .nav_catalog a span { background-position:-80px 0px; }
    .nav_catalog a:hover span { background-position:-80px -30px; }
    .nav_catalog.active a span { background-position:-80px -60px; }
  .nav_schedule { width:140px; }
    .nav_schedule a span { background-position:-300px 0px; }
    .nav_schedule a:hover span { background-position:-300px -30px; }
    .nav_schedule.active a span { background-position:-300px -60px; }
  .nav_calendar { width:170px; }
    .nav_calendar a span { background-position:-520px 0px; }
    .nav_calendar a:hover span { background-position:-520px -30px; }
    .nav_calendar.active a span { background-position:-520px -60px; }
  .nav_middlab { width: 130px; display:block; }
    .nav_middlab a span { background-position:-740px 0; }
    .nav_middlab a:hover span { background-position:-740px -30px; }
    .nav_middlab.active a span { background-position:-740px -60px; }

/*********************************************************
 * Site-wide Nav styles
 *********************************************************/
nav.left {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
}

section.body {
  width: 750px;
  float:left;
  padding:18px;
  min-width:698px;
}
.pagecontent { margin-top:0px; }

img.hub_logo {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 18px;
}
.left div.content ul.menu {
  float: none;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}
div.hub_nav_item, div.block-menu > div.content > ul.menu > li {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    font-weight: normal;
    margin-bottom: -1px;
    padding-bottom: 8px;
    padding-left: 8px;;
    padding-right: 0;
    padding-top: 8px;
    width: 190px;
}
div.hub_nav_item a {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
}
div.hub_nav_item a:hover {
    -moz-background-clip: border !important;
    -moz-background-origin: padding !important;
    -moz-background-size: auto auto !important;
    background-attachment: scroll !important;
    background-color: #FFFFFF !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
div.hub_nav_spacer {
    height: 40px;
}

div.hub_nav_item div.term {
  margin-left: 10px;
  font-weight: normal;
}
div.hub_nav_item a.active {
  font-weight: bold;
}
div.hub_nav_item div.term div.site_link {
  margin-left: 15px;
}

/* Get top-level monster-menus menu items styled like nav blocks. */
.left div.content > ul.menu > li > ul > li.leaf, #left div.content > ul.menu > li > ul > li.expanded {
  list-style-image: none;
  list-style-type: none;
}

.left div.content > ul.menu > li > ul.menu > li > a {
  font-weight: normal;
}
.left div.content > ul.menu > li > ul > li:last-child {
  border-bottom: none;
}

/*  Allow showing of nav items created by the drupal nav system
    while still hiding the Monster menus root menu link.
*/
.left div.block-menu > div.content > ul.menu > li {
  padding-top: 8px;
  padding-bottom: 8px;
}
div.block-menu > div.content > ul.menu > li > a { display: block; }

/*********************************************************
 * Taskbar
 *********************************************************/
div#taskbar {
    color: #084B71;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
div#taskbar a.login {
    padding-left: 3em;
    text-decoration: underline;
}

/*********************************************************
 * Sidebar
 *********************************************************/
aside.sidebar {
    background-color: #EFEEE9;
    border: 1px solid #D4D5D0;
    padding: 10px;
    margin-right: 6px;
}

aside.sidebar ul.menu {
  background-color: #EFEEE9;
}

aside.sidebar ul.menu li, aside.sidebar ul.menu > li > ul.menu > li, aside.sidebar li {
  border: none;
  list-style-image: none;
  list-style-type: none;
}

aside.sidebar div.content > ul.menu > li > a {
  display: block;
  font-size: 22px;
}

aside.sidebar div.view-course-site-links li {
  padding-left: 10px;
}
.node-subpglist td ul ul {
  font-size: .8em;
}

.node-subpglist td ul ul a{
  border-bottom: 1px dotted #147;
}

/*********************************************************
 * Site Navigation on Right
 *********************************************************/

aside.content > ul.menu > li > ul.menu > li.expanded > a {
  color:inherit;
}

/*********************************************************
 * Breadcrumbs
 *********************************************************/
nav.breadcrumb {
    margin-bottom: 0;
    padding-left: 18px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 750px;
}

/*********************************************************
 * Updates
 *********************************************************/
div.view-hub-updates-view {
  margin-top: 5px;
}
div.view-empty, div.hub_updates_message {
  font-style: italic;
}

div.hub_updates_header > div {
  float: left;
  padding: 5px;
  font-weight: bold;
  font-size: small;
}

article.node-hub-update {
  clear: left;
}
article.node-hub-update > div, article.node-hub-update > section {
  float: left;
  padding: 5px;
  border-top: 1px dotted;
}
article.node-hub-update > div.create_date, div.hub_updates_header > div.create_date {
  width: 60px;
}
article.node-hub-update > div.source, div.hub_updates_header > div.source {
  width: 80px;
  overflow: hidden;
}
article.node-hub-update > section.contents, div.hub_updates_header > section.contents {
  width: 330px;
}
article.node-hub-update > section.contents {
  padding-top: 3px;
  overflow: hidden;
}

article.node-hub-update > section.contents h2 {
  font-size: larger;
  font-weight: bold;
  margin-top: 0px;
}

div.updates-class_listing {
  border-top: 1px solid;
  width: 470px;
  margin-top: 10px;
  padding-top: 10px;
}
/*********************************************************
 * Forms
 *********************************************************/
body.midd_courses section.body div.content form {
  width: 500px;
}

body.midd_courses section.body div.content form.node-form {
  float:left;
}

/*********************************************************
 * General Styles
 *********************************************************/
h1 {
    font-size: 2em;
    font-weight: normal;
}
h2 {
  color: #03466C;
}
nav.left div.block-masquerade {
    clear: both;
    padding-top: 100px;
}

.not-found h1, .not-found h2 {
  font-family:inherit;
}
.not-found h1.wordmark {
  margin: 0px auto;
}
nav.left div.block-middlebury-cas .content a.login {
  float:left;
}

.page {
  width: 720px;
  padding: 0;
}

.midd_courses div.content ul.menu li{
  margin: 0 0 0 0.5em;
}

.midd_courses div.content ul.menu li.leaf {
  padding: 0.2em 0.5em 0 0;
}

.midd_courses .node-subpglist table {
  border-bottom: 1px solid #cc9;
}

.midd_courses .node-subpglist ul li ul{
  margin-left: 1.5em;
  margin-bottom: 0.8em;
}

.midd_courses .node-subpglist ul li ul li{
  list-style-image: url(../images/menu-leaf.png);
}

.midd_courses div.region-left .block-monster-menus ul ul ul li{
  list-style-image: url(../images/menu-leaf.png);
}

.midd_courses div.region-left .block-monster-menus ul ul ul li.expanded{
  list-style-image: url(../images/menu-expanded.png);
}

.region-quicklinks {
  padding: 0 10px;
}

#midd_taskbar a.login:hover{
  background-color: #E8DBAE;
}

 div.clear-block {
  display: inline-block;
  margin-bottom: 1em;
}
h2 {
  margin-top: 8px;
}

.error, .status, .warning {
  width: 450px;
}
div.warning {
  padding-left:25px;
  background-repeat: repeat-y;
}

.node-middfiles-resource dt {
  width: 5em !important;
  border-top: none !important;
  clear:none;
}
.node-middfiles-resource dd {
  width: 25em !important;
  white-space: nowrap;
  border-top: none !important;
}
.node-middfiles-resource .clear-block {
  min-width: 30em;
}
.middfiles_help {
  padding: 5px;
  border: 1px solid #D4D5D0;
  background-color: #EFEEE9;
  font-size: 0.8em;
}
.views-row .middfiles_help {
  border: none;
  max-width: 480px;
}
.middfiles_help p a {
  white-space: nowrap;
}

.page-mm-contents-add aside.sidebar {
  display: block;
}

/*********************************************************
 * Pagination Style Buttons
 *********************************************************/

.pager li {
	margin: 0 !important;
	padding: 0 !important;
}

.pager li a {
    -moz-border-radius: 3px 3px 3px 3px;
    background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    color: #03466C;
    cursor: pointer;
	display: inline-block;
	line-height: 2em;
	height: 2em;
	padding: 0 .5em !important;
}

.pager li.pager-current {
    -moz-border-radius: 3px 3px 3px 3px;
    background: #DDDDDD;
	font-size:.95em;
    border: 1px solid #CCCCCC;
    color: #03466C;
    cursor: default;
	display: inline-block;
	line-height: 2em;
	height: 2em;
	padding: 0 .5em !important;
}


/*********************************************************
 * Resource Drop Downs
 *********************************************************/
.resource_filter {
	margin-top: 1em;
	min-width: 280px;
}
.resource_filter .selected {
	font-weight: bold;
}
.resource_filter .num_updates {
  float: right;
  margin-right: 10px;
}
.resource_filter .resource_title {
  width: 250px;
}
.resource_filter a {
	border: none;
}
a.resource_filter:hover {
	background-color: #dadada;
}
div#body a.ui-selectmenu {
  border: 1px solid #D3D3D3;
}

.ui-widget {
    font-size: inherit;
}
.ui-selectmenu-menu {
  background-color: #aaa;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  background-color: #E6E6E6;
}
.ui-selectmenu-menu li {
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  font-weight: normal;
}
.resource_filter .selected {
	font-weight: bold !important;
}

.ui-selectmenu-menu a:hover {
  background-color: inherit;
  border: none;
}

.dropdown {
  float: none;
}

.dropdown h3 {
    background: #E6EAEE;
    border: 1px #B8C3CE solid;
    color: #222222;
    cursor: pointer;
    font-family: Verdana,"Lucida Grande",Lucida,sans-serif;
    font-size: 0.846em;
    letter-spacing: 0;
    line-height: 1em;
    padding: 8px 11px;
    text-transform: none;
    display: inline-block;
}

.dropdown.active h3 {
    background: #003366;
  border: 1px #003366 solid;
    color: #FFF;
}

.dropdown h3 .spinner {
  color: #114477;
  font-size: .75em;
}

.dropdown.active h3 .spinner {
  color: #FFF;
}

.dropdown .contents {
  background: #003366;
  border: 1px #003366 solid;
  color: #FFF;
}
.dropdown .contents a, .dropdown .contents a:hover {
  color: #FFF;
}
.dropdown .contents a:hover {
  text-decoration: underline;
}
.dropdown .contents ul {
  padding: 0.4em 0 0 0;

}
.dropdown .contents ul li {
  padding: 0 1em 0.4em 1em;
  margin: 0px;
}
