@media projection, screen { .ui-tabs-hide { display: none; } }
@media print { .ui-tabs-nav { display: none; } }

#library-quick-search { display:block; border:solid 1px #999999; background:#DDDDDD; color:#071427; margin:-15px 0px 8px 0px; width:450px; }
  #library-quick-search h1 { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-weight: bold; font-size: 22px; color:#071427; text-align:center; }

#library-quick-search-tabs { background:transparent; border:none; border-radius:0px; color:inherit; font-family:inherit; font-size:inherit; padding:0px; position:inherit; }
  #library-quick-search-tabs .ui-tabs-nav { border-bottom:1px solid; font-size:11px list-style:outside none none; margin:0px; padding:0px; width:100%; background:none repeat scroll 0px 0px transparent; color:#000000; float:left; border-radius:0px; border:none; border-bottom:1px solid #000000; line-height:15.4px; }
    #library-quick-search-tabs .ui-tabs-nav:after { clear:both; content:" "; display:block; }
    #library-quick-search-tabs .ui-helper-clearfix:before, #library-quick-search-tabs .ui-helper-clearfix:after { border-collapse:inherit; content:" "; display:block; }
    #library-quick-search-tabs .ui-tabs-nav li { float:left; margin:0px; padding:0px 0px 0px 4px; height:19px; list-style:none; font-weight:bold; background:#E6E6E6; border-radius:0px; border:none; line-height:15.4px; }
      #library-quick-search-tabs .ui-tabs-nav li a { float:left; padding:1px 3px 3px 3px; background:none; margin:2px 0px 0px 0px; text-decoration:none; white-space:nowrap; outline:0px; border:1px solid #000000; font-size:11px; font-weight:normal; display:block; height:12px; background:#527546;  position:relative; }
        #library-quick-search-tabs .ui-tabs-nav li a:link, #library-quick-search-tabs .ui-tabs-nav li a:visited { color:#FFFFFF; border:1px solid #000000; }
        #library-quick-search-tabs .ui-tabs-nav li.ui-tabs-active a { font-weight:bold; font-size:14px; color:#071427; background-color:#DDDDDD; padding:0px 3px 3px 3px; margin:2px 0px 0px 5px; border-bottom:1px solid #DDDDDD; line-height:19.6px; height:13px; }
    #library-quick-search-tabs .ui-tabs-panel { padding:40px 15px 20px 15px; font-size:12px; margin:0px; }

#library-quick-search label { display:inline; }
#library-quick-search input { font-family:inherit; }
  .library-search-wide { width:250px; }
  #library-quick-search a { color:#272C6F; }

#library-quick-search .image-margin { margin:0px; }
