.midd_ls, .midd_ls_inside, .midd_ls_grad { background-image:url(../images/ls/globe.jpg); }
.column>a, .column .content>a {display:none;}
.column.gray .profile {margin-top:0px;}
table.layout tbody, table.layout tr, table.layout td, table.layout { border: none; }

.top_panel { padding-top:1px; }
  .top_panel .ls_header_search { clear:both; margin:0 auto; width:960px; position:relative; height:59px; }
  .midd_ls .top_panel h1.wordmark { margin-top:0px; }
.midd_ls h1.wordmark, .midd_ls_inside h1.wordmark, .midd_ls_fullwidth h1.wordmark, .midd_ls_grad h1.wordmark { width:100%; font-size:1.4em; padding:30px 0px 26px 0px; }
		.midd_ls_grad h1.wordmark { border-color:#83B2F9; }

.search_query { background-color:#FFFFFF; border:none; font-size:0.929em; color:#666666; }
.search_submit.ir { background:url(../images/arrow_go_white.png); }

.navigation ul { background-color:#94CB21; height:36px; font-size:1em; line-height:36px; margin:0px; }
	.navigation li { margin:0px 8px; }
	.navigation li a { position:relative; color:#0B315E; }
    .region-header .navigation ul li a { height:36px; }
	.navigation li a span { background-image:url(../images/ls/nav_languageschools.gif?2015-02-24); display:block; position:absolute; top:0px; left:0px; width:100%; height:36px; }
	.navigation li.nav_apply { width:54px; margin-left:16px; }
		.nav_apply a span { background-position:-27px 0px; }
		.nav_apply a:hover span { background-position:-27px -36px; }
		.nav_apply.active a span { background-position:-27px -72px; }
	.nav_academics { width:96px; }
		.nav_academics a span { background-position:-97px 0px; }
		.nav_academics a:hover span { background-position:-97px -36px; }
		.nav_academics.active a span { background-position:-97px -72px; }
	.nav_centennial { width:134px; }
		.nav_centennial a span { background-position:-214px 0px; }
		.nav_centennial a:hover span { background-position:-214px -36px; }
		.nav_centennial.active a span { background-position:-214px -72px; }
	.nav_finaid { width:118px; }
		.nav_finaid a span { background-position:-365px 0px; }
		.nav_finaid a:hover span { background-position:-365px -36px; }
		.nav_finaid.active a span { background-position:-365px -72px; }
	.nav_graduate { width:171px; }
		.nav_graduate a span { background-position:-499px 0px; }
		.nav_graduate a:hover span { background-position:-499px -36px; }
		.nav_graduate.active a span { background-position:-499px -72px; }
	.nav_schoolsabroad { width:135px; }
		.nav_schoolsabroad a span { background-position:-686px 0px; }
		.nav_schoolsabroad a:hover span { background-position:-686px -36px; }
		.nav_schoolsabroad.active a span { background-position:-686px -72px; }
	.nav_contact { width:96px; }
		.nav_contact a span { background-position:-837px 0px; }
		.nav_contact a:hover span { background-position:-837px -36px; }
		.nav_contact.active a span { background-position:-837px -72px; }

.midd_ls_grad .navigation ul { background-color:#8CB8FF; }
.midd_ls_grad .navigation li { margin:0px 10px; height:36px; }
.midd_ls_grad .navigation li a span { background-image:url(../images/ls/nav_languageschools_grad.gif?2015-02-24); }
  .midd_ls_grad .nav_apply { width:49px; }
    .midd_ls_grad .nav_apply a span { background-position:-20px 0; }
    .midd_ls_grad .nav_apply a:hover span { background-position:-20px -36px; }
    .midd_ls_grad .nav_apply.active a span { background-position:-20px -72px; }
  .midd_ls_grad .nav_academics { width:91px; }
    .midd_ls_grad .nav_academics a span { background-position:-92px 0; }
    .midd_ls_grad .nav_academics a:hover span { background-position:-92px -36px; }
    .midd_ls_grad .nav_academics.active a span { background-position:-92px -72px; }
  .midd_ls_grad .nav_centennial { width:129px; }
    .midd_ls_grad .nav_centennial a span { background-position:-207px 0; }
    .midd_ls_grad .nav_centennial a:hover span { background-position:-207px -36px; }
    .midd_ls_grad .nav_centennial.active a span { background-position:-207px -72px; }
  .midd_ls_grad .nav_finaid { width:113px; }
    .midd_ls_grad .nav_finaid a span { background-position:-360px 0; }
    .midd_ls_grad .nav_finaid a:hover span { background-position:-360px -36px; }
    .midd_ls_grad .nav_finaid.active a span { background-position:-360px -72px; }
  .midd_ls_grad .nav_language { width:170px; }
    .midd_ls_grad .nav_language a span { background-position:-497px 0; }
    .midd_ls_grad .nav_language a:hover span { background-position:-497px -36px; }
    .midd_ls_grad .nav_language.active a span { background-position:-497px -72px; }
  .midd_ls_grad .nav_schoolsabroad { width:131px; }
    .midd_ls_grad .nav_schoolsabroad a span { background-position:-691px 0; }
    .midd_ls_grad .nav_schoolsabroad a:hover span { background-position:-691px -36px; }
    .midd_ls_grad .nav_schoolsabroad.active a span { background-position:-691px -72px; }
  .midd_ls_grad .nav_contact { width:91px; }
    .midd_ls_grad .nav_contact a span { background-position:-846px 0; }
    .midd_ls_grad .nav_contact a:hover span { background-position:-846px -36px; }
    .midd_ls_grad .nav_contact.active a span { background-position:-846px -72px; }
	
.languages_feature { height:250px; position:relative; }
	.languages_feature h2 { text-indent:-999em; overflow:hidden; background-image:url(../images/ls/languages2.gif); height:33px; width:345px; position:absolute; top:86px; left:305px; }
		.languages_feature h2 a { background:url(../images/ls/languages2.gif) no-repeat 0px 0px; height:33px; left:305px; overflow:hidden; text-indent:-999em; display:block; width:345px; border:0px !important; }
		.languages_feature h2 a:hover { background:url(../images/ls/languages2.gif) no-repeat 0px -34px; }
	.languages_feature ul { list-style-type:none; margin:0px; padding:0px; }
		.languages_feature ul li { margin:0px; padding:0px; display:block; position:absolute; }
			.languages_feature ul li a { display:block; height:33px; border:none; text-indent:-999em; overflow:hidden; background-image:url(../images/ls/languages2.gif); }
				.languages_feature li a:hover { background-color:transparent; }
			.feature_arabic { width:261px; left:702px; top:86px; }
				.feature_arabic a { background-position:-365px 0px; }
				.feature_arabic a:hover { background-position:-365px -35px; }
			.feature_japanese { width:185px; left:764px; top:203px; }
				.feature_japanese a { background-position:-646px 0px; }
				.feature_japanese a:hover { background-position:-646px -35px; }
			.feature_french { width:423px; left:534px; top:25px; }
				.feature_french a { background-position:-851px 0px; }
				.feature_french a:hover { background-position:-851px -35px; }
			.feature_german { width:401px; left:-8px; top:25px; }
				.feature_german a { background-position:-1293px 0px; }
				.feature_german a:hover { background-position:-1293px -35px; }
			.feature_hebrew { width:310px; left:8px; top:142px; }
				.feature_hebrew a { background-position:-1713px 0px; }
				.feature_hebrew a:hover { background-position:-1713px -35px; }
			.feature_italian { width:291px; left:-28px; top:85px; }
				.feature_italian a { background-position:-2043px 0px; }
				.feature_italian a:hover { background-position:-2043px -35px; }
			.feature_chinese { width:134px; left:372px; top:152px; }
				.feature_chinese a { background-position:-2352px 0px; }
				.feature_chinese a:hover { background-position:-2352px -35px; }
			.feature_portuguese { width:313px; left:383px; top:203px; }
				.feature_portuguese a { background-position:-2505px 0px; }
				.feature_portuguese a:hover { background-position:-2505px -35px; }
			.feature_russian { width:360px; left:587px; top:156px; }
				.feature_russian a { background-position:-2837px 0px; }
				.feature_russian a:hover { background-position:-2837px -35px; }
			.feature_spanish { width:288px; left:13px; top:203px; }
				.feature_spanish a { background-position:-3217px 0px; }
				.feature_spanish a:hover { background-position:-3217px -35px; }

.midd_ls .pagecontent, .midd_ls_inside .pagecontent, .midd_ls_fullwidth .pagecontent, .midd_ls_grad .pagecontent { margin-top:0px; background-color:#FFFFFF; }
  .midd_ls_inside .taskbar, .midd_ls_fullwidth .taskbar, .midd_ls_grad .taskbar { display:none; }
  .midd_ls_fullwidth .page { width:924px; }
.midd_ls .body { padding:0px; float:left; min-width:698px; }
	.midd_ls .page { width:924px; border:none; float:none; width:auto; background-color:#FFFFFF; padding:0px; }
		.midd_ls_inside .page, .midd_ls_grad .page { border-top:none; }
.midd_ls .columns { margin-left:9px; }
.columns .column { padding:18px; margin:0px; }
	.columns p { margin:1em 0px; }
.midd_ls .columns.split { background:url(../images/column_gray.gif) repeat-y right top; }
	.midd_ls .columns.split .column { width:240px; }
	.midd_ls .columns.split .first { width:639px; color:#333300; }
		.split .first h2 { color:#006F37; font-size:1.8em; font-weight:normal; font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; }
		.split .last h4 { margin-top:5px; margin-bottom:0px; }
.schools ul { list-style-type:none; margin:0px 0px 1em; padding:0px; color:#666666; width:40%; float:left; }
	.schools ul li { margin:0.2em 0px; }
		.schools ul li a { font-weight:bold; font-size:1.2em; border:none; }

h2 { color:#2BACC2 !important; font-family:Georgia,serif; margin-bottom:8px; }
h4 { color:#666666; font-size:1.2em; line-height:1em; }
ul.sublinks { list-style-type:none; font-size:1.2em; margin:0px; }
p.more_link { text-align:left; margin:0px; font-size:1.3em; font-weight:normal; color:#666666; }

.footer a { border:none; }
	.footer ul li a span { background-image:url(../images/ls/nav_languageschools_footer.gif); }
	.footer ul { float:left; }
	.languageschools_students { width:127px; }
		.languageschools_students a span { background-position:0px 0px; }
		.languageschools_students a:hover span { background-position:0px -30px; }
		.languageschools_students.active a span { background-position:0px -60px; }
		.languageschools_students.active a:hover span { background-position:0px -90px; }
	.languageschools_families { width:71px; }
		.languageschools_families a span { background-position:-133px 0px; }
		.languageschools_families a:hover span { background-position:-133px -30px; }
		.languageschools_families.active a span { background-position:-133px -60px; }
		.languageschools_families.active a:hover span { background-position:-133px -90px; }
	.languageschools_alumni { width:62px; }
		.languageschools_alumni a span { background-position:-210px 0px; }
		.languageschools_alumni a:hover span { background-position:-210px -30px; }
		.languageschools_alumni.active a span { background-position:-210px -60px; }
		.languageschools_alumni.active a:hover span { background-position:-210px -90px; }
	.languageschools_contact { width:87px; }
		.languageschools_contact a span { background-position:-278px 0px; }
		.languageschools_contact a:hover span { background-position:-278px -30px; }
		.languageschools_contact.active a span { background-position:-278px -60px; }
		.languageschools_contact.active a:hover span { background-position:-278px -90px; }

.footer_wordmark { float:right; }
  #block-middlebury-midd-blocks-midd-footer-wordmark .footer_wordmark { display:block; }
	.footer_wordmark:hover { background-color:transparent !important; }