@charset "UTF-8";
body {
  background-image: none; }

.content .wordmark {
  margin: 60px 0 30px !important;
  padding: 0 !important; }

.content .wordmark a {
  background-image: url("../images/ls/middlebury-language-schools-logo.png");
  background-repeat: no-repeat; }

form.search {
  top: 0; }

/*
.column>a,
.column .content>a {
  display: none
}

.column.gray .profile {
  margin-top: 0px
}

table.layout tbody,
table.layout tr,
table.layout td,
table.layout {
  border: none
}

.top_panel {
  padding-top: 1px
}

.top_panel .ls_header_search {
  clear: both;
  margin: 0 auto;
  width: 960px;
  position: relative;
  height: 59px;
}

.midd_ls .top_panel h1.wordmark {
  margin-top: 0px
}

.midd_ls h1.wordmark,
.midd_ls_inside h1.wordmark,
.midd_ls_fullwidth h1.wordmark,
.midd_ls_grad h1.wordmark {
  width: 100%;
  font-size: 1.4em;
  padding: 30px 0px 26px 0px;
}

.midd_ls_grad h1.wordmark {
  border-color: #83B2F9
}

.midd_ls h1.wordmark a,
.midd_ls_inside h1.wordmark a,
.midd_ls_fullwidth h1.wordmark a,
.midd_ls_grad h1.wordmark a {
  background: none;
  display: block;
  width: 672px;
  height: 142px;
  text-indent: -9999px;
}
*/
.search_query {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.929em;
  color: #666666; }

.search_submit.ir {
  background: url(../images/arrow_go_white.png); }

.hero {
  height: 415px; }

.hero-banner {
  float: left;
  width: 640px;
  height: 100%; }

.hero-form {
  background-color: #585858;
  float: left;
  width: 320px;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box; }

.hero-form h2 {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #f8d140;
  margin-top: 0;
  margin-bottom: 5px; }

.hero-form p {
  color: #fff;
  font-size: 16px;
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  margin-bottom: 10px; }

.navigation {
  border-bottom: 4px solid #fff; }

.navigation ul {
  background-color: #f8d140;
  height: 36px;
  padding: 0;
  width: 100%; }

.navigation li {
  width: auto; }

.navigation li a {
  color: #1b3767;
  text-indent: 0 !important;
  overflow: visible !important;
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  height: auto !important;
  letter-spacing: 0.05em;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  -webkit-transition: .2s;
          transition: .2s; }

.navigation li a:hover {
  background-color: #FFE173; }

.icon {
  display: block;
  border-radius: 50px;
  height: 77px;
  width: 77px;
  position: relative;
  margin: 36px auto; }
  .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.icon-sky {
  background-color: #75a3cd; }

.icon-brick {
  background-color: #c26531; }

.icon-green {
  background-color: #8e9b39; }

.explore-languages-section {
  background: url("../images/ls/globe-texture.png") no-repeat left top;
  margin: 0 -95px 60px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }

.explore-section-title {
  color: #4d4b4c;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-bottom: 10px; }

.explore-languages-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; }

.explore-languages-section ul ul li {
  display: inline-block; }

.explore-languages-section ul a {
  font-size: 36px;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  border: 0;
  line-height: 1; }

.explore-languages-section ul a:hover {
  background: none; }

.explore-languages-section a:after {
  content: '■';
  color: #4d4b4c;
  font-size: 20px;
  position: relative;
  top: -5px;
  left: 5px; }

.explore-languages-section ul ul li:last-child a:after {
  content: ''; }

.rule {
  border-top: 3px solid #8eaf42;
  position: relative;
  z-index: 1;
  margin-top: 65px;
  margin-bottom: 65px; }

.rule-buttoned {
  text-align: center;
  overflow: visible;
  height: 3px; }

.rule-buttoned .btn {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  z-index: 2; }

.select {
  position: relative;
  background-color: #fff; }

.select:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid transparent;
  position: relative;
  background-color: transparent;
  z-index: 2; }

.form-group {
  position: relative;
  margin-bottom: 5px; }

.form-group.has-error input,
.form-group.has-error select {
  border-color: tomato; }

.form-group.form-actions {
  margin-top: 10px; }

.form-control {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  box-sizing: border-box; }

.btn {
  cursor: pointer;
  display: inline-block;
  font-family: "Whitney SSm A", "Whitney SSm B", verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 10px 20px; }
  .btn:disabled {
    opacity: 0.5; }
  .btn:hover {
    padding: 10px 20px !important; }

.btn-block {
  display: block;
  width: 100%; }

.btn-arrow {
  margin-left: 5px;
  height: 20px;
  position: relative;
  top: 3px; }

.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: #8e9b39 !important; }
  .btn-primary:hover,
  .btn-primary:hover:hover {
    color: #fff;
    background-color: #8e9b39 !important; }

.color-navy {
  color: #113a5f; }
  .color-navy:hover {
    color: #113a5f;
    text-decoration: underline; }

.color-sky {
  color: #75a3cd; }
  .color-sky:hover {
    color: #75a3cd;
    text-decoration: underline; }

.color-orange {
  color: #c26531; }
  .color-orange:hover {
    color: #c26531;
    text-decoration: underline; }

.color-teal {
  color: #1d9f8b; }
  .color-teal:hover {
    color: #1d9f8b;
    text-decoration: underline; }

.color-gold {
  color: #b0862d; }
  .color-gold:hover {
    color: #b0862d;
    text-decoration: underline; }

.color-red {
  color: #972d29; }
  .color-red:hover {
    color: #972d29;
    text-decoration: underline; }

.color-green {
  color: #8e9b39; }
  .color-green:hover {
    color: #8e9b39;
    text-decoration: underline; }

.pagecontent {
  margin-top: 0; }

.midd_ls_inside .taskbar,
.midd_ls_fullwidth .taskbar,
.midd_ls_grad .taskbar {
  display: none; }

.page {
  border: none;
  float: none;
  width: auto;
  padding: 0; }

/* home page */
.home-container {
  width: 770px;
  margin: 0 auto; }

.column {
  float: left;
  box-sizing: border-box; }

.home-features p {
  color: #333;
  font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
  font-size: 15px; }
