header.container {
  background: url('../images/msoe/msoe-banner.jpg') no-repeat center top;
}

h1.wordmark {
  display: none;
}

.container h2.wordmark {
  margin: 0;
  padding: 25px 0 0 25px;
}

h2.wordmark a {
  border: none;
  background: transparent url('../images/msoe/logo-msoe.png') no-repeat top left;
  display: block;
  width: 348px;
  height: 98px;
  text-indent: -9999px;
  margin-bottom: 75px;
}

form.search {
  top: 25px;
  right: 25px;
}

.search_query {
  background-color: #fff;
  border: none;
  font-size: 0.929em;
  color: #666;
}

.search_submit.ir {
  background: url('../images/arrow_go_white.png')
}

.navigation ul {
  background-color: #f8d140;
  height: 36px;
  margin: 0;
  display: table;
}

.navigation li {
  float: none;
  display: table-cell;
  width: 1%;
  margin-left: 3px;
  margin-right: 3px;
}

.navigation li a {
  text-indent: 0 !important;
  overflow: visible !important;
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  height: auto !important;
  transition: .2s;
}

.navigation li a:hover {
  background-color: #FFE173;
}

.pagecontent {
  margin-top: 0
}

.taskbar,
.breadcrumb {
  display: none
}

.opening {
  font-size: 1.2em;
  color: #440;
}

.opening a {
  font-style: italic;
  border: none;
}

h2 {
  color: #666;
  font-family: Georgia, serif;
  margin-bottom: 16px;
}

td.first {
  font-size: 14.5px;
  color: #333300;
}

td.first .opening {
  color: #333300;
  font-size: 30px;
  font-family: Garamond, "Times New Roman", serif;
}

td.first a {
  font-size: 17px;
  font-weight: bold;
  color: #333300;
  border-color: #333300;
}

td.first h3 {
  color: #5b8707;
  font-size: 24px;
  font-family: Garamond, "Times New Roman", serif;
  font-weight: normal;
}

.footer {
  background-color: transparent;
  color: #333;
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  margin-top: 0 !important;
  margin-bottom: 50px;
  line-height: 1.5;
}

.footer .container {
  background-color: #f5f5f4;
  padding: 25px;
  box-sizing: border-box;
}

.footer a {
  color: #333;
}

.footer a:hover {
  background-color: transparent;
  border-bottom: 1px solid #000;
}

.footer p strong {
  text-transform: uppercase;
  letter-spacing: .05em;
}
