html { font-size:100%; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,img,form,label,iframe { margin:0px; padding:0px; font-size:1em; line-height:inherit; font-weight:inherit; color:inherit; border:none; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
article,aside,figure,footer,header,hgroup,nav,section { display:block; }
address { font-size:normal; margin-top:1em; margin-bottom:1em; }
input,select,textarea,button { font-size:1em; line-height:inherit; font-family:inherit; margin:0px; }
input[type=button],input[type=submit],button { overflow:visible; }
input[disabled],select[disabled],textarea[disabled],button[disabled] { opacity:0.75; }
.skiplink { position:absolute; top:0px; left:-9999px; width:9em; padding:5px; color:#0000FF; background-color:#FFFF99; border:1px solid #999933; text-align:center; z-index:9999; }
.skiplink:focus { left:0px; }
.clear { height:0px; clear:both; }

body { background:#001534 url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/gradient.jpg') no-repeat left top; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#221100; font-size:0.875em; line-height:1.4em; }
a { color:#5FA7FF; text-decoration:none; border-bottom:1px dotted #5FA7FF; padding:0.07em; }
  a:hover { color:#003366; border-bottom:1px dotted #003366; }
  a.noborder,a.noborder:hover { border:none; background-color:transparent !important; padding:0; }
p { margin-bottom:1em; }
ul,ol { margin-left:1.5em; margin-bottom:0.8em; }
  li { margin:0.4em 0em; }
  ul.toplinks { list-style-type:none; margin:0px; padding:0px; }
  ul.toplinks > li > a { font-size:1.25em; line-height:1.25em; font-weight:bold; }
  ul.toplinks .small { display:block; font-weight:normal; color:#221100; margin:0.5em 0em 0.5em 0.5em; }
h1 { font-size:1.6em; font-weight:bold; color:#001122; line-height:1.2em; }
h2 { font-size:1.4em; color:#084B71; }
h3 { font-size:1.4em; color:#222222; }
  h3 a { border-bottom:1px dotted #114477; padding:1px; }
  h3 a:hover { color:#003366; border-bottom:1px solid #003366; background-color:#EEFFCC; }
h4 { font-weight:bold; font-size:1.2em; color:#666666; }
h5 { font-size:1.1em; color:#666666; font-weight:bold; }
h6 { font-weight:bold; color:#666666; }
h1,h2,h3,h4,h5,h6 { margin-bottom:12px; }
pre { font-size:1.1em; }
blockquote { border-left:1px solid #D4D6C8; padding:10px 18px 10px 18px; margin:10px 10px 18px 10px; font-family:Georgia,serif; font-size:1.2em; color:#999966; }
table { margin-bottom:1em; }
  th { font-family:sans-serif; font-size:1.2em; line-height:1.2em; color:#003366; font-weight:bold; padding:8px; background-color:#EBEBEB; }
  td { font-size:0.929em; color:#404040; font-weight:normal; padding:4px; background:#FFFFFF; border-top:1px solid transparent; }
  table.layout td { font-size:1em; color:inherit; padding:0px 20px 20px 0px; background:none; vertical-align:top; }
form { margin-bottom:1em; }
  fieldset { margin-bottom:1em; }
  textarea { padding:10px; }
  input { padding:2px; }
  input[type=radio], input[type=checkbox] { margin-right:10px; }

.image_left { float:left; width:204px; margin:6px 18px 6px 0px; }
.image_right { float:right; width:204px; margin:6px 0px 6px 18px; }
.caption { font-style:italic; font-size:0.929em; color:#888888; line-height:1.25em; margin:3px; }
.opening { font-family:Georgia,serif; font-size:1.5em; color:#333300; }
.verybig { font-size:2em; line-height:1.25em; }
.big { font-size:1.6em; line-height:1.25em; }
.small { font-size:0.929em; line-height:1.25em; }
.fineprint { font-size:0.857em; color:#666633; letter-spacing:1px; }
.date { font-size:0.857em; color:#666633; margin-bottom:6px; line-height:1.4em; }
.showall { margin:1em 0em 1em 0em; font-size:1.25em; font-weight:bold; }
.more_link { text-align:right; font-weight:bold; }
.summary { font-size:0.929em; line-height:1.3em; }
.tags { font-size:0.929em; color:#999966; }
  .tags a { -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; background-color:#F4F4EA; border:1px solid #CCCCCC; cursor:default; display:inline-block; margin:2px 0.2em 2px 0.2em; padding:0.1em 0.2em 0.1em 0.2em; }
  .tags a:hover { text-decoration:none; background-color:#E9E9C9; }

.container { width:960px; margin:0px auto; position:relative; clear:both; }

.header { background:url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/roof.gif') left bottom no-repeat; padding:30px 0px; }
  .header a { border:none; background-color:transparent; }
  .wordmark { padding-top:50px; font-size:1em; font-weight:bold; float:left; }
  .search { position:absolute; top:0px; right:0px; border:1px solid #45546D; padding:1px; height:1.8em; }
    .search_query { background-color:#45546D; border:none; display:block; width:9.4em; padding:0px 0px 0px 0.8em; height:1.8em; line-height:1.5em; font-style:italic; color:#8FD4FF; }

.navigation { float:right; width:34em; list-style-type:none; margin:0px; }
  .navigation li { float:left; margin:0px 0px 0px 1em; border-bottom:1px solid #45546D; }
    .navigation li a { color:#FFFFFF; line-height:14px; padding:7px 0px 7px 14px; height:14px; display:block; position:relative; }
      .navigation li a span { display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; background-image:url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/museum_nav.gif'); }
  .nav_exhibitions,.nav_about { border-top:1px solid #45546D; } 
  .nav_exhibitions,.nav_collections,.nav_visit { width:138px; }
  .nav_about,.nav_teaching,.nav_support { width:155px; }
  .nav_store,.nav_news { width:138px; }
  .nav_collections,.nav_visit { clear:left; }
    .nav_exhibitions a span { background-position:0px 0px; }
      .nav_exhibitions a:hover span,.nav_exhibitions.active a span { background-position:0px -100px; }
    .nav_collections a span { background-position:0px -30px; }
      .nav_collections a:hover span,.nav_collections.active a span { background-position:0px -130px; }
    .nav_visit a span { background-position:0px -60px; }
      .nav_visit a:hover span,.nav_visit.active a span { background-position:0px -160px; }
    .nav_about a span { background-position:-154px 0px; }
      .nav_about a:hover span,.nav_about.active a span { background-position:-154px -100px; }
    .nav_teaching a span { background-position:-154px -30px; }
      .nav_teaching a:hover span,.nav_teaching.active a span { background-position:-154px -130px; }
    .nav_support a span { background-position:-154px -60px; }
      .nav_support a:hover span,.nav_support.active a span { background-position:-154px -160px; }
    .nav_store a span { background-position:-322px -30px; }
      .nav_store a:hover span,.nav_store.active a span { background-position:-322px -130px; }
    .nav_news a span { background-position:-322px -60px; }
      .nav_news a:hover span,.nav_news.active a span { background-position:-322px -160px; }

.gallery { background-color:#45546D; color:#FFFFFF; padding:15px 0px 10px 0px; width:100%; overflow:hidden; }
  .gallery a { border:none; }
  .gallery .container { padding-top:302px; }
  .gallery img { border:2px solid #656F81; position:absolute; top:0px; left:0px; }
  .gallery_caption,.gallery_nextcaption,.gallery_caption p,.gallery_nextcaption p { font-family:Georgia,serif; font-style:italic; display:inline; }
  .gallery_controls,.gallery_nextarea { width:420px; font-size:0.9em; float:left; }
  .gallery_nextarea { float:right; text-align:right; }
  .gallery_prev,.gallery_next { margin-right:6px; font-weight:bold; }
  .gallery_nav { text-align:center; position:absolute; left:50%; top:302px; margin-left:-50px; width:100px; }
    .gallery_nav a { padding:0px 5px 0px 5px; color:#00B0FA; outline:none; }
      .gallery_nav a:hover { color:#FFFFFF; }
      .gallery_nav a.selected,.gallery_nav a.selected:hover { color:#CCCCDD !important; cursor:default; }

.footer { background-color:#1A2D49; color:#FFFFFF; font-size:0.92em; }
  .footer a { color:#6A93AE; border:none; }
    .footer a:hover { color:#FFFFFF; }
    .footer a#login { border-bottom:none; float:none; margin-top:0px; padding:0px; text-decoration:none; }
    .footer a#login:hover { background:transparent; }
      .block-cas_midd { padding-top:2px; }
      .block-cas_midd h2 { display:none; }
  .footer img { float:right; margin-left:12px; cursor:pointer; font-size:0.9em; }
  .footer h6 { color:#FFFFFF; font-size:1.4em; margin:0px; padding-bottom:5px; }
  .footer .container { padding:30px 0px 30px 0px; }
  .social { list-style-type:none; margin:0px; padding:0px; position:absolute; right:10px; top:35px; }
    .social li { float:left; margin-left:14px; }
      .social li a { display:block; border:none; height:24px; width:24px; background:transparent url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/social2.gif') no-repeat top left; text-indent:-999em; overflow:hidden; padding:0px; }
    .social_foursquare a { background-position:0px 0px; }
      .social_foursquare a:hover { background-position:0px -24px; }
    .social_youtube a { background-position:-24px 0px; }
      .social_youtube a:hover { background-position:-24px -24px; }
    .social_facebook a { background-position:-48px 0px; }
      .social_facebook a:hover { background-position:-48px -24px; }
    .social_rss a { background-position:-72px 0px; }
      .social_rss a:hover { background-position:-72px -24px; }
    .social_twitter a { background-position:-96px 0px; }
      .social_twitter a:hover { background-position:-96px -24px; }
  .address { float:left; width:354px; line-height:1.7em; }
    .address_mailing { float:left; margin-right:15px; }
  .footer_nav { list-style-type:none; float:left; margin:0px 24px 0px 24px; }


/** Old styles
header { background-color:#45546d; color:#fff; padding:10px 0; width:100%; overflow:hidden; }
        header h1 { color:#fff; font-weight:bold; position:relative; width:920px; margin:0 auto; }

#left { float:left; width:204px; padding:18px; color:#fff; font-size:0.929em;  }
        #left a { color:#00b0fa; }
        #left a:hover { color:#fff; }
#left ul.menu { margin:0; width:204px; list-style-type:none; }
        #left ul.menu a { text-decoration:none; color:#272C6F; border:0; }
        #left ul.menu a:hover { text-decoration:underline; color:#330; background-color:transparent; }
        #left div.content > ul.menu { margin:0 0 36px; }
                #left div.content > ul.menu > li {margin:0px; border-top:1px solid #ccc; }
                #left div.content > ul.menu > li > a { display:none; }
                #left ul.menu > li > ul.menu > li { padding:4px 12px; margin:0; border-bottom:1px solid #ccc; }
                        #left ul.menu > li > ul.menu > li > a {font-weight:bold; }
                #left ul.menu > li > ul.menu > li.expanded > ul > li {list-style-type:none; border-bottom:0; }
                        #left ul.menu > li > ul.menu > li.expanded > a {color:#272C6F; }
                        #left ul.menu > li > ul.menu > li.expanded > ul.menu {margin-left:18px; }
                                #left ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu {color:#ccc; list-style-type:circle; margin-left:18px; }
                                #left ul.menu > li > ul.menu > li.expanded > ul.menu li.here {color:#600; }
                                        #left ul.menu > li > ul.menu > li.expanded > ul.menu li.here > a {color:#600; }

#page { float:left; width:720px; }

        #body { float:left; padding:18px; width:680px; }
                #body>a { display:none; }
                #breadcrumb { color:#666; font-size:0.857em; margin-bottom:18px; }
                        #breadcrumb a { color:#333; padding-bottom:0; }
                        #breadcrumb a:hover { color:#333; }
        body.sidebar #body form { width:420px; }
        body.sidebar #body form .standard { clear:none; }
        .clear-block::after { clear:none; }
        div.sidebar { float:right; width:196px; margin:40px 0 20px 18px; border:3px solid #fff; padding:18px 8px 18px 18px; background-color:#eeeeee; }
                div.sidebar img { border:none; text-decoration: none; margin-bottom: 10px; }
                div.sidebar a img { border:none; text-decoration: none;  }
                div.sidebar a:hover img { border: none; text-decoration:none; }


.feature { margin-bottom:18px; }
#left .feature { margin:60px 0; }
#left .feature p {font-size:1.2em;}
.feature img { display:block; margin-left:auto; margin-right:auto; }
.box { padding:11px; border:1px dashed #996; margin-bottom:18px; position:relative; }
  
.columns { }
  .columns .column { float:left; margin:0 18px; min-height:1px; }
  .columns .column.first { margin-left:0; }
  .columns .column.last { margin-right:0; }
.columns.two { }
  .fullwidth .columns.two .column { width:444px; }
.columns.three { }
  .fullwidth .columns.three .column { width:284px; }
.column.gray { background-color:#ededed; }


.result { border:1px solid #ccc; min-height: 200px; text-align: left; width:684px; clear:both; }
.photocaption {font-size: 0.88em; font-family:Georgia, serif; color:#666; font-style: italic; }


body#homepage { color:#fff; }
  #homepage #footer a { color:#6a93ae; border:none; }
  #homepage #footer a:hover { color:#fff; }
#homepage #content { background-color:transparent; }
#homepage #content > div { display:table-cell; }
#homepage h1 { font-size:1.4em; color:#fff; }
#homepage h2 { color:#fff; }
#homepage h3 { margin:0; }
  #homepage h3 a { font-weight:bold; color:#c4c47f; }
#homepage a, #gallery a { border:none; background-color:transparent; color:#c4c47f; }
#homepage a:hover { color:#eef; }
#feature { width:350px; padding-top:15px; }
  #feature img { margin-bottom:12px; }
        #feature > a { display: none; }
#events { padding:15px 28px 0; width:364px; position:relative; }
        #events .view_date { display: none; }
  #events_ical { position:absolute; top:16px; right:24px; }
  #events ul { list-style-type:none; margin:0; }
    #events ul li { margin-bottom:1.2em; padding-left:34px; position:relative; }
      #events ul li .event_day { border:1px solid #99a; background-color:#45546d; width:20px; padding:5px 1px 1px; position:absolute; left:0; top:0; }
        #events ul li .event_day a { outline:none; padding:0; }
        #events ul li .event_day span { background-color:#fff; display:block; font-family:serif; color:#45546d; font-size:0.88em; font-weight:bold; line-height:1em; padding:2px; text-align:center; }
      #events ul li .event_date { font-weight:bold; } 
      #events ul li .event_category { color:#bbb; } 
      #events ul li h3 { font-weight:bold; font-size:1.2em;  }  
      #events ul li .event_location { font-size:0.9em; font-family:Georgia,serif; } 
#friends { width:170px; padding:15px 10px; background:#1a2d49 url(images/fpright_grad.png) top left repeat-x; font-size:0.9em; }
  #friends h1 { font-size:1.6em; color:#C4C47F; }
  #friends ul { margin-top:20px; margin-left:0; margin-bottom:0; list-style-type:none; }
    #friends a { font-weight:bold; color:#FFFFFF; margin-bottom:12px; display:block; }
    #friends a:hover { border-bottom:1px solid #FFFFFF; }
#subscribe { float:right; width:190px; margin-top:5px; font-size:0.9em; font-family:Georgia,serif; padding:12px 0; color:#ccd; }
  #subscribe a { font-style:italic; }

.slider { position:absolute; left:0; top:0; height:100%; margin-right:-12000px; }
#carousel { color:#fff; height:240px; margin:18px 0; position:relative; overflow:hidden; }
    #carousel_features a  { color:#cf6; text-decoration:none; border:none; padding:0; }
    #carousel_features a:hover  { color:#a9d4ff; text-decoration:underline; border:none; background-color:transparent; }
    #carousel_features h2, #carousel_features h3, #carousel_features h4, #carousel_features h5, #carousel_features h6  { color:#83B2F9 !important; }
#carousel_arrow { position:absolute; left:258px; bottom:-43px; width:49px; height:43px; background-image:url(images/carousel_arrow.png); }
#carousel .block { border:dashed #fff; border-width:1px 1px 1px 0; list-style-type:none; height:238px; margin:0; }
  #carousel article, #carousel .mm-block-links { border-left:1px dashed #fff; height:180px; padding:30px; margin:0; float:left; }
  #carousel .carousel_image { border-left: 1px dashed #fff; margin:0; float:left; height: 238px; }
  #carousel .content > a { display:none; }
  #carousel a:hover { background: transparent; border-bottom: 1px dotted; }
  #carousel_arrow { z-index: 100; }
  
.card { background-color:#eaeef1; border:1px solid #bbccdb; padding:16px 16px 8px 16px; margin:0px; line-height:1.5em; font-size:0.88em; margin-bottom:10px; }

.news { float: left; }
.news.node { width: 678px; }
.news div.sidebar { width: 204px; float: right; margin-top: -30px; margin-right:-20px; }
.news div.sidebar img { border:1px solid #d4d6c8; margin-top:30px; margin-left:0px; }

.newslist img { float: left; margin-bottom: 10px; border:1px solid #d4d6c8; margin-left:0px; }
.newslist .node { margin-left: 140px; margin-right: 18px; margin-bottom: 10px; }
.newslist .node p { display:inline; }
.newslist .summary .teaser p:first-child { display:inline; }

.newslist { list-style-type:none; margin:0; }
  .newslist li { clear:left; margin-bottom:1em; }
    .headline { margin-bottom:1em; }
  .newslist li.has_image { padding-left:138px; }
    .newslist li.has_image .date { margin-left:-138px; }
    .newslist li.has_image img { float:left; margin:0 0 18px -138px; border:1px solid #600; }

  
#block-monster_menus-5 { height:0; margin:-10px; padding:0; line-height:0; }
#block-monster_menus-5 .mm-block-links { height:20px; margin:10px; display:block; } **/