/* Reset Styles */
html { font-size:100%; }
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,img,form,label,iframe { margin:0px; padding:0px; font-size:1em; line-height:inherit; font-weight:inherit; color:inherit; border:none; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
article,aside,figure,footer,header,hgroup,nav,section { display:block; }
address { font-size:normal; margin-top:1em; margin-bottom:1em; }
input,select,textarea,button { font-size:1em; line-height:inherit; font-family:inherit; margin:0px; }
input[type=button],input[type=submit],button { overflow:visible; }
input[disabled],select[disabled],textarea[disabled],button[disabled] { opacity:0.75; }
.skiplink { position:absolute; top:0px; left:-9999px; width:9em; padding:5px; color:#0000FF; background-color:#FFFF99; border:1px solid #999933; text-align:center; z-index:9999; }
.skiplink:focus { left:0px; }
.clear { height:0px; clear:both; }

/* General Element Styles */
body { background:#001534 url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/gradient.jpg') no-repeat left top; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#221100; font-size:0.875em; line-height:1.4; }
a { color:#5FA7FF; text-decoration:none; border-bottom:1px dotted #5FA7FF; padding:0.07em; }
  a:hover { color:#003366; border-bottom:1px dotted #003366; }
  a.noborder,a.noborder:hover { border:none; background-color:transparent !important; padding:0; }
p { margin-bottom:1em; }
ul,ol { margin-left:1.5em; margin-bottom:0.8em; }
  li { margin:0.4em 0em; }
  ul.toplinks { list-style-type:none; margin:0px; padding:0px; }
  ul.toplinks > li > a { font-size:1.25em; line-height:1.25em; font-weight:bold; }
  ul.toplinks .small { display:block; font-weight:normal; color:#221100; margin:0.5em 0em 0.5em 0.5em; }
h1 { font-size:1.6em; font-weight:bold; color:#001122; line-height:1.2em; }
h2 { font-size:1.4em; color:#084B71; }
h3 { font-size:1.4em; color:#222222; }
  h3 a { border-bottom:1px dotted #114477; padding:1px; }
  h3 a:hover { color:#003366; border-bottom:1px solid #003366; background-color:#EEFFCC; }
h4 { font-weight:bold; font-size:1.2em; color:#666666; }
h5 { font-size:1.1em; color:#666666; font-weight:bold; }
h6 { font-weight:bold; color:#666666; }
h1,h2,h3,h4,h5,h6 { margin-bottom:12px; }
pre { font-size:1.1em; }
blockquote { border-left:1px solid #D4D6C8; padding:10px 18px 10px 18px; margin:10px 10px 18px 10px; font-family:Georgia,serif; font-size:1.2em; color:#999966; }
table { margin-bottom:1em; }
  th { font-family:sans-serif; font-size:1.2em; line-height:1.2em; color:#003366; font-weight:bold; padding:8px; background-color:#EBEBEB; }
  td { font-size:0.929em; color:#404040; font-weight:normal; padding:4px; background:#FFFFFF; border-top:1px solid transparent; }
  table.layout td { font-size:1em; color:inherit; padding:0px 20px 20px 0px; background:none; vertical-align:top; }
form { margin-bottom:1em; }
  fieldset { margin-bottom:1em; }
  textarea { padding:10px; }
  input { padding:2px; }
  input[type=radio], input[type=checkbox] { margin-right:10px; }

/* General Type Styles */
.image_left { float:left; width:204px; margin:6px 18px 6px 0px; }
.image_right { float:right; width:204px; margin:6px 0px 6px 18px; }
.caption { font-style:italic; font-size:0.929em; color:#888888; line-height:1.25em; margin:3px; }
.opening { font-family:Georgia,serif; font-size:1.5em; color:#333300; }
.verybig { font-size:2em; line-height:1.25em; }
.big { font-size:1.6em; line-height:1.25em; }
.small { font-size:0.929em; line-height:1.25em; }
.fineprint { font-size:0.857em; color:#666633; letter-spacing:1px; }
.date { font-size:0.857em; color:#666633; margin-bottom:6px; line-height:1.4em; }
.showall { margin:1em 0em 1em 0em; font-size:1.25em; font-weight:bold; }
.more_link { text-align:right; font-weight:bold; }
.summary { font-size:0.929em; line-height:1.3em; }
.tags { font-size:0.929em; color:#999966; }
  .tags a { -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; background-color:#F4F4EA; border:1px solid #CCCCCC; cursor:default; display:inline-block; margin:2px 0.2em 2px 0.2em; padding:0.1em 0.2em 0.1em 0.2em; }
  .tags a:hover { text-decoration:none; background-color:#E9E9C9; }

/* Page Container */
.container { width:960px; margin:0px auto; position:relative; clear:both; }

/* Header */
.header { background:url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/roof.gif') left bottom no-repeat; padding:30px 0px; }
  .header a { border:none; background-color:transparent; }
  .wordmark { padding-top:50px; font-size:1em; font-weight:bold; float:left; }
  .search { position:absolute; top:0px; right:0px; border:1px solid #45546D; padding:1px; height:1.8em; }
    .search_query { background-color:#45546D; border:none; display:block; width:9.4em; padding:0px 0px 0px 0.8em; height:1.8em; line-height:1.5em; font-style:italic; color:#8FD4FF; }

/* Header Navigation */
.navigation { float:right; width:34em; list-style-type:none; margin:0px; }
  .navigation li { float:left; margin:0px 0px 0px 1em; border-bottom:1px solid #45546D; }
    .navigation li a { color:#FFFFFF; line-height:14px; padding:7px 0px 7px 14px; height:14px; display:block; position:relative; }
      .navigation li a span { display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; background-image:url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/museum_nav.gif'); }
  .nav_exhibitions,.nav_about { border-top:1px solid #45546D; } 
  .nav_exhibitions,.nav_collections,.nav_visit { width:138px; }
  .nav_about,.nav_teaching,.nav_support { width:155px; }
  .nav_store,.nav_news { width:138px; }
  .nav_collections,.nav_visit { clear:left; }
    .nav_exhibitions a span { background-position:0px 0px; }
      .nav_exhibitions a:hover span,.nav_exhibitions.active a span { background-position:0px -100px; }
    .nav_collections a span { background-position:0px -30px; }
      .nav_collections a:hover span,.nav_collections.active a span { background-position:0px -130px; }
    .nav_visit a span { background-position:0px -60px; }
      .nav_visit a:hover span,.nav_visit.active a span { background-position:0px -160px; }
    .nav_about a span { background-position:-154px 0px; }
      .nav_about a:hover span,.nav_about.active a span { background-position:-154px -100px; }
    .nav_teaching a span { background-position:-154px -30px; }
      .nav_teaching a:hover span,.nav_teaching.active a span { background-position:-154px -130px; }
    .nav_support a span { background-position:-154px -60px; }
      .nav_support a:hover span,.nav_support.active a span { background-position:-154px -160px; }
    .nav_store a span { background-position:-322px -30px; }
      .nav_store a:hover span,.nav_store.active a span { background-position:-322px -130px; }
    .nav_news a span { background-position:-322px -60px; }
      .nav_news a:hover span,.nav_news.active a span { background-position:-322px -160px; }

/* Image Gallery */
.gallery { background-color:#45546D; color:#FFFFFF; width:100%; position:relative; padding:15px 0px 0px 0px; }
  .gallery header { display:none; }
  .gallery a { border:none; }
  .gallery img { border:2px solid #656F81; }
  .gallery figure { margin:15px 0px 0px 0px; }
  .gallery figcaption,.gallery figcaption p,.gallery .cycle-next { font-family:Georgia,serif; font-style:italic; font-size:12px; }
    .gallery figcaption p,.gallery .cycle-next div,.gallery .cycle-next p { display:inline; }
    .gallery .cycle-next a { color:#C4C47F; font-style:normal; font-weight:bold; }
  .gallery .content { background:transparent; }
  .cycle-next { position:absolute; right:0px; top:314px; }
  .cycle-pager { text-align:center; position:absolute; left:50%; top:314px; margin-left:-50px; width:100px; z-index:200; }
    .cycle-pager a { padding:0px 5px 0px 5px; color:#C4C47F; outline:none; }
      .cycle-pager a:hover { color:#FFFFFF; }
      .cycle-pager a.cycle-pager-active,.cycle-pager a.cycle-pager-active:hover { color:#CCCCDD; cursor:default; }

/* Section Title */
.title { background-color:#45546D; padding:10px 0px 10px 0px; width:100%; overflow:hidden; }
  .title h1 { color:#FFFFFF; position:relative; width:920px; margin:0px auto 0px auto; }

/* Page Content */
.content { background-color:#FFFFFF; }
  .content a { color:#272C6F; border-bottom:1px dotted #272C6F; }
  .content a:hover { color:#333333; border-bottom:1px solid #333333; background:#FAF9D5; }

/* Left Sidebar and Navigation */
.region-left { float:left; width:204px; padding:18px; color:#FFFFFF; font-size:0.929em; }
  .region-left a { color:#00B0FA; }
  .region-left a:hover { color:#FFFFFF; }
  .region-left ul.menu { margin:0px; width:204px; list-style-type:none; }
    .region-left ul.menu a { text-decoration:none; color:#272C6F; border:0px; }
    .region-left ul.menu a:hover { text-decoration:underline; color:#333300; background-color:transparent; }
    .region-left ul.menu li { list-style-type:none; list-style-image:none; }
    .region-left div.content > ul.menu { margin:0px 0px 36px 0px; }
      .region-left div.content > ul.menu > li { margin:0px; border-top:1px solid #CCCCCC; }
        .region-left div.content > ul.menu > li > a { display:none; }
    .region-left ul.menu > li > ul.menu > li { padding:4px 12px 4px 12px; margin:0px; border-bottom:1px solid #CCCCCC; }
      .region-left ul.menu > li > ul.menu > li > a { font-weight:bold; }
    .region-left ul.menu > li > ul.menu > li.expanded > a { color:#272C6F; }
    .region-left ul.menu > li > ul.menu > li.expanded > ul > li { list-style-type:none; border-bottom:0; }
    .region-left ul.menu > li > ul.menu > li.expanded > ul.menu { margin-left:18px; }
      .region-left ul.menu > li > ul.menu > li.expanded > ul.menu > li.expanded > ul.menu { color:#CCCCCC; list-style-type:circle; margin-left:18px; }
      .region-left ul.menu > li > ul.menu > li.expanded > ul.menu li.here { color:#660000; }
      .region-left ul.menu > li > ul.menu > li.expanded > ul.menu li.here > a { color:#660000; }

/* Right Sidebar */
.region-right { float:right; width:196px; margin:40px 0px 20px 18px; border:3px solid #FFFFFF; padding:18px 8px 18px 18px; background-color:#EEEEEE; }
  .region-right .content { background-color:inherit; }
  .region-right img { border:none; text-decoration:none; margin-bottom:10px; }
  .region-right a img { border:none; text-decoration:none; }
  .region-right a:hover img { border:none; text-decoration:none; }

/* Content Container */
.page { float:left; width:720px; }
  .body { float:left; padding:18px; width:680px; }
    .body div.content > a { display:none; }

/* Breadcrumb */
.breadcrumb { color:#666666; font-size:0.857em; margin-bottom:18px; }
  .breadcrumb a { color:#333333; padding-bottom:0px; }
  .breadcrumb a:hover { color:#333333; }

/* Carousel */
.carousel_arrow { position:absolute; left:258px; bottom:-43px; width:49px; height:43px; background-image:url(//cdn.middlebury.edu/middlebury.edu/2010/images/carousel_arrow.png); z-index:100; }
.carousel { color:#FFFFFF; height:240px; margin:18px 0px; position:relative; overflow:hidden; }
  .carousel a { color:#CCFF66; text-decoration:none; border:none; padding:0px; }
  .carousel a:hover { color:#A9D4FF; text-decoration:underline; border:none; background-color:transparent; border-bottom:1px dotted; }
  .carousel h2, .carousel h3, .carousel h4, .carousel h5, .carousel h6 { color:#83B2F9; }
.carousel .block { border:dashed #FFFFFF; border-width:1px 1px 1px 0px; list-style-type:none; height:238px; margin:0px; }
  .carousel .node, .carousel .link-wrapper { border-left:1px dashed #FFFFFF; height:180px; padding:30px; margin:0px; float:left; }
  .carousel .content > a { display:none; }

/* Footer */
.footer { background-color:#1A2D49; color:#FFFFFF; font-size:0.92em; }
  .footer a,.footer .region-login a.login { color:#6A93AE; border:none; }
    .footer a:hover,.footer .region-login a.login:hover { color:#FFFFFF; }
    .footer .region-login h2 { margin:0px; }
    .footer .region-login a { border-bottom:none; float:none; margin-top:0px; padding:0px; text-decoration:none; }
    .footer .region-login a:hover { background:transparent; }
      .block-cas_midd { padding-top:2px; }
      .block-cas_midd h2 { display:none; }
  .footer img { float:right; margin-left:12px; cursor:pointer; font-size:0.9em; }
  .footer h6 { color:#FFFFFF; font-size:1.4em; margin:0px; padding-bottom:5px; }
  .footer .container { padding:30px 0px 30px 0px; }
  .social { list-style-type:none; margin:0px; padding:0px; position:absolute; right:10px; top:35px; }
    .social li { float:left; margin-left:14px; }
      .social li a { display:block; border:none; height:24px; width:24px; background:transparent url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/social2.gif') no-repeat top left; text-indent:-999em; overflow:hidden; padding:0px; }
    .social .social_foursquare a { background-position:0px 0px; }
      .social .social_foursquare a:hover { background-position:0px -24px; }
    .social .social_youtube a { background-position:-24px 0px; }
      .social .social_youtube a:hover { background-position:-24px -24px; }
    .social .social_facebook a { background-position:-48px 0px; }
      .social .social_facebook a:hover { background-position:-48px -24px; }
    .social .social_rss a { background-position:-72px 0px; }
      .social .social_rss a:hover { background-position:-72px -24px; }
    .social .social_twitter a { background-position:-96px 0px; }
      .social .social_twitter a:hover { background-position:-96px -24px; }
  .address { float:left; width:354px; line-height:1.7em; }
    .address_mailing { float:left; margin-right:15px; }
  .footer_nav { list-style-type:none; float:left; margin:0px 24px 0px 24px; }

/* Homepage Styles */
body.front { color:#FFFFFF; }
  .front .content { background-color:transparent; }
  .front .content a { border:none; background-color:transparent; color:#C4C47F; }
  .front .content a:hover { border-bottom:none; background:none; color:#EEEEFF; }
  .front .content > section, .front .content > aside { display:table-cell; }

.feature { width:350px; padding-top:15px; }
  .feature h1 { font-size:1.4em; color:#FFFFFF; }
  .feature img { margin-bottom:12px; }
  .feature .content > a { display:none; }

.events { padding:15px 28px 0px 28px; width:364px; position:relative; }
  .events h1 { font-weight:normal; color:#FFFFFF; font-size:1.4em; }
  .events h2 { font-weight:bold; font-size:1.2em; margin-bottom:0px; }
    .events h2 a { color:#C4C47F; border:none; }
  .events .views-row { margin-bottom:1.2em; padding-left:34px; position:relative; }
  .events .event_day { border:1px solid #9999AA; background-color:#45546D; width:20px; padding:5px 1px 1px 1px; position:absolute; left:0px; top:0px; }
    .events .event_day a { outline:none; padding:0px; }
    .events .event_day span { background-color:#FFFFFF; display:block; font-family:serif; color:#45546D; font-size:0.88em; font-weight:bold; line-height:1em; padding:2px; text-align:center; }
  .events .event_date { font-weight:bold; }
  .events .event_category { color:#BBBBBB; }
  .events .event_location { font-size:0.9em; font-family:Georgia,serif; }

.news { width:170px; padding:15px 10px 15px 10px; background:#1A2D49 url('//cdn.middlebury.edu/middlebury.edu/2010/images/museum/fpright_grad.png') top left repeat-x; font-size:0.9em; }
  .news h1 { font-size:1.6em; color:#C4C47F; }
  .news .item-list ul { margin-top:20px; margin-left:0; margin-bottom:0px; list-style-type:none; }
  .news .item-list li { margin:0px; }
  .news .item-list ul a { font-weight:bold; color:#FFFFFF; margin-bottom:12px; display:block; border:none; }
  .news .item-list ul a:hover { border:none; }

/* Collection Postings */
.node-collection { border:1px solid #ccc; min-height: 200px; text-align: left; width:684px; clear:both; }
.node-collection .first { width:260px; }
.node-collection .second, .node-collection .third { width:210px; vertical-align:top; }
.node-collection .photocaption {font-size: 0.88em; font-family:Georgia, serif; color:#666; font-style: italic; }
.node-collection .value { font-weight:bold; }

/* Events Postings */
.node-event { background-color:#eaeef1; border:1px solid #bbccdb; padding:16px 16px 8px 16px; margin:0px; line-height:1.5em; font-size:0.88em; margin-bottom:10px; }
.node-event h2 { color:#666666; font-weight:bold; font-size:1em; }
.node-event .label { font-weight:bold; }

/* News Postings */
.node-news > header { float:left; width:456px; }
.node-news aside { float:right; margin-right:-20px; margin-left:8px; width:204px; background-color:#EEEEEE; border:3px solid #FFFFFF; padding:18px 8px 18px 18px; }
.node-news aside a.thickbox { border:none; }
.node-news aside img { border:1px solid #D4D6C8; margin-top:30px; margin-left:0px; }
.node-news aside h2.links { color:#666666; font-size:1.2em; font-weight:bold; }
.node-news aside h2.contact { color:#222222; font-size:1.4em; font-weight:normal; }
.node-news aside section.contact { border:1px dashed #999966; margin-bottom:18px; padding:11px; }
.node-news aside section.contact h3 { color:#666666; font-weight:bold; font-size:1em; }

/* News Postings List */
.newslist, .exhibitionlist { width:100%; display:table; padding:21px 8px; }
.newslist aside, .exhibitionlist aside { display:table-cell; vertical-align:top; width:140px; margin:0px; padding:0px; border:0px; float:none; background:transparent; }
.newslist aside img, .exhibitionlist aside img { border:0px; margin:0px; }
.newslist section, .exhibitionlist section { display:table-cell; vertical-align:top; font-size:0.929em; line-height:1.3em; }
.newslist h1, .exhibitionlist h1 { font-size:1.295em; line-height:inherit; }
.newslist .date, .exhibitionlist .date { color:#221100; font-size:1em; font-weight:bold; }
.newslist p, .exhibitionlist p { display:inline; }

/* Museum Fullwidth Theme */
.museum_fullwidth .body, .museum_fullwidth .page { width:920px; }

/* 404 Page */
.page-mm-89923 .header { background:transparent; }
.page-mm-89923 .content { background:transparent; position:relative; }
.page-mm-89923 .region-content { position:absolute; top:160px; left:60px; }
.page-mm-89923 .region-content, .page-mm-89923 .region-content h1, .page-mm-89923 .region-content a { color:#FFFFFF; font-size:18px; }
  .page-mm-89923 .region-content h1 { font-size:30px; }