// Middlebury Responsive Framework
@import '../responsive/responsive';

// Bootstrap extras
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';

@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar';

// Custom Styles
.taskbar,
.breadcrumb,
.midd_dining .jumpnav-anchor {
  display: none;
}

.page {
  padding:20px 26px;
}

.navigation {
  font-family: $font-family-sans-serif;

  li {
    background-color: #619565;
  }

  a {
    color: $white;
  }

  > ul > li > a {
    text-decoration: none;
    border: 0;

    &:hover {
      background-color:#73A2E6;
    }
  }
}

.nav-justified,
.nav-tabs.nav-justified {
  > li {
    @include media(sm) {
      display: block;
      width: auto;
    }

    @include media(md) {
      display: table-cell;
      width: 1%;
    }

    > a {
      @include media(sm) {
        margin-bottom: 5px;
        border: 0;
      }

      @include media(md) {
        margin-bottom: 0;
      }
    }
  }
}

.view-content h3 {
  background-color: #73A2E6;
  color: $white;
  text-align: center;
}
