.global-header {
  @include media(md) {
    position: relative;
  }
}

.global-header__logo {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;

  @include media(md) {
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(lg) {
    width: auto;
  }
}

.global-header__menu-btn {
  text-align: right;
  margin-top: 20px;
  padding: 20px 0;

  @include media(md) {
    display: none;
  }
}

.global-header__search {
  margin-bottom: 20px;

  @include media(md) {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
