.sidebar {
	a[href^="mailto:"] {
		word-break: break-all;
		display: inline-block;
	}
}

.sidebar--primary {

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  #login {
    color: inherit;
    background-color: transparent;
    float: none;
    font-size: inherit;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.sidebar--secondary {
  article {
    border: 1px solid #ccc;
    // margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

    h1 {
      background-color: #1158a0;
      color: $white;
      font-family: $font-family-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin: -21px -21px 10px -21px;
      padding: 8px 12px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
