.icon {
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
}

.icon--menu {
  background-image: url('../images/icon-hamburger.svg');
  width: 33px;
  height: 30px;

  .menu-open & {
    background-image: url('../images/icon-close.svg');
  }
}

.icon--search {
  background-image: url('../images/icon-search.svg');
  width: 14px;
  height: 14px;
}
