.global-nav {
  background-color: #12243F;
  width: $menu-width;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%) translateZ(0);
  transition: transform .3s ease-in-out;
  padding: 20px;
  overflow-y: auto;
  z-index: 5;

  @include media(md) {
    background-color: transparent;
    width: auto;
    position: static;
    transform: none;
    padding: 0;
  }

  body.menu-open & {
    transform: none;
  }
}

.global-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 15px;
  }

  a {
    font-size: 18px;
    font-family: $font-family-serif;
    text-decoration: none;

    &:hover {
      color: #dfdf90;
      text-decoration: none;
    }
  }

  @include media(md) {
    display: table;

    li {
      display: table-cell;
      width: 1%;
      text-align: center;
      margin-bottom: 10px;
    }

    a {
      white-space: nowrap;
    }
  }
}

.global-nav__list--top {

  a {
    color: $white;

    @include media(md) {
      font-size: 15px;
    }

    @include media(lg) {
      font-size: 18px;
    }
  }

  @include media(md) {
    margin-bottom: 10px;
  }
}

.global-nav__list--bottom {
  margin-bottom: 30px;

  a {
    color: #73A2E6;

    @include media(md) {
      font-size: 15px;
    }

    @include media(lg) {
      font-size: 18px;
    }
  }
}

.leftlinks {

  a {
    color: $white;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @include media(md) {
    position: absolute;
    left: 0;
    top: 20px;

    a {
      font-size: 14px;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}
