.search-form {
  position: relative;
}

.search-form__label {

}

input.search-form__input {
  color: #D2D4D6;
  background-color: transparent;
  border: 1px solid #365783;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none;
  padding: 10px;

  @include media(md) {
    font-size: 14px;
  }
}

.search-form__button {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
