.field-name-taxonomy-vocabulary-1 {
  @include clearfix();

  .field-label {
    float: left;
    display: inline-block;
  }

  .field-items {
    
    .field-item {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}
